<ul id="w4" class="navbar-nav navbar-left nav">
	<li class="dropdown">
		<a class="dropdown-toggle" href="" data-toggle="dropdown">
			<i class="fa fa-dashboard"></i> Dashboard <span class="caret"></span>
		</a>
		<ul id="w5" class="dropdown-menu">
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-share-alt"></i> CRM
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">Manufactory</a></li>
					<li><a href="" tabindex="-1">Distributor</a></li>
					<li><a href="" tabindex="-1">Customer</a></li>
					<li><a href="" tabindex="-1">Salesmen</a></li>
					<li><a href="" tabindex="-1">Seles Promotion</a></li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-eye"></i>Reporting
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">PT. Sarana Sinar Surya</a></li>
					<li><a href="" tabindex="-1">PT. Arta Lipat Ganda</a></li>
					<li><a href="" tabindex="-1">PT. Efembi Sukses Makmur</a></li>
					<li><a href="" tabindex="-1">PT. Gosent</a></li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-eye"></i>Setting
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">Admin Web LG</a></li>
					<li><a href="" tabindex="-1">Admin Web CRM</a></li>
					<li><a href="" tabindex="-1">Admin Web Krema</a></li>
					<li><a href="" tabindex="-1">Admin Web Vinding</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" href="" data-toggle="dropdown">
			<i class="fa fa-flag-o"></i> Company 
			<span class="caret"></span>
		</a>
		<ul id="w6" class="dropdown-menu">
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-inbox"></i> Umum
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="" tabindex="-1">
							<i class="fa fa-fa-inbox"></i> Data Master Umum
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-cutlery "></i> SSS
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">Marketing</a></li>
					<li><a href="" tabindex="-1">Sales</a></li>
					<li><a href="" tabindex="-1">Purchasing</a></li>
					<li><a href="" tabindex="-1">Warehouse</a></li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-windows"></i> ESM
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">Data Master Production</a></li>
					<li><a href="" tabindex="-1">Purchasing</a></li>
					<li><a href="" tabindex="-1">Warehouse</a></li>
					<li><a href="" tabindex="-1">Factory</a></li>
					<li><a href="" tabindex="-1">Sales</a></li>
					<li><a href="" tabindex="-1">Marketing</a></li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-columns"></i> ALG
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">Purchasing</a></li>
					<li><a href="" tabindex="-1">Warehouse</a></li>
					<li><a href="" tabindex="-1">Seles</a></li>
					<li><a href="" tabindex="-1">Marketing</a></li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-truck"></i> GOSEND
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">Marketing</a></li>
					<li><a href="" tabindex="-1">Product</a></li>
					<li><a href="" tabindex="-1">Sales</a></li>
					<li><a href="" tabindex="-1">Affiliation</a></li>
					<li><a href="" tabindex="-1">Helpdesk</a></li>
					<li><a href="" tabindex="-1">Purchasing</a></li>
					<li><a href="" tabindex="-1">Warehouse</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" href="" data-toggle="dropdown">
			<i class="fa fa-sitemap"></i> Department <span class="caret"></span>
		</a>
		<ul id="w7" class="dropdown-menu">
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-users"></i> HRD
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1"><i class="fa fa-child"></i> Personalia</a></li>
					<li><a href="" tabindex="-1"><i class="fa fa-hand-o-up"></i> Rekrutmen</a></li>
					<li><a href="" tabindex="-1"><i class="fa fa-calendar"></i> Absensi</a></li>
					<li><a href="" tabindex="-1"><i class="fa fa-usd"></i> Payroll</a></li>
					<li><a href="" tabindex="-1"><i class="fa fa-cogs"></i> Modul</a></li>
					<li><a href="" tabindex="-1">General Afair</a></li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-bank"></i> Accounting
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1"><i class="fa fa-bar-chart-o"></i> Sales</a>
					</li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-camera"></i> Designer
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">
						<i class="fa fa-tags"></i> Matrial Promotion</a>
					</li>
					<li><a href="" tabindex="-1"><i class="fa fa-image"></i> Draff Design</a></li>
				</ul>
			</li>
			<li class="dropdown dropdown-submenu">
				<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">
					<i class="fa fa-umbrella"></i> IT Dept
				</a>
				<ul class="dropdown-menu">
					<li><a href="" tabindex="-1">admin</a></li>
					<li><a href="" tabindex="-1">Programer</a></li>
					<li><a href="" tabindex="-1">DBE</a></li>
					<li><a href="" tabindex="-1">Networking</a></li>
					<li><a href="" tabindex="-1">Support</a></li>
					<li class="dropdown dropdown-submenu">
						<a class="dropdown-toggle" href="" tabindex="-1" data-toggle="dropdown">	System Log
						</a>
						<ul class="dropdown-menu">
							<li><a href="" tabindex="-1">Error Log</a></li>
							<li><a href="" tabindex="-1">Delete log</a></li>
							<li><a href="" tabindex="-1">Cancel Log</a></li>
						</ul>
					</li>
					<li><a href="" tabindex="-1">Export/import</a></li>
					<li><a href="" tabindex="-1">API</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li pull-right>
		<a ng-click="logout()" data-method="post">
			<i class="fa fa-power-off"></i> 
		</a>
	</li>
</ul>