<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper" >
    <section class="content">
        <div class="row placeholders">
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="toggleMenuKanan()" data-toggle="control-sidebar">
              <img src="asset/admin/dist/img/chat.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Chat</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/telepon.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Talk</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/meeting.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Gro Wup</h4>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="chat()">
              <img src="asset/admin/dist/img/chart.jpg" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Chart</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/product.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Inv</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/money.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Cheap</h4>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="chat()">
              <img src="asset/admin/dist/img/gopo.jpg" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Po</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/ro.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Ro</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/mail.jpg" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Mail</h4>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="chat()">
              <img src="asset/admin/dist/img/coffee.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Meet</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/telepon.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Send</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/chat.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Go Sleep</h4>
            </div>
        </div>

    </section>

</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>