<div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="#/salesman" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>L</b>G</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Lukison</b>Group</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="asset/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="asset/admin/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="asset/admin/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="asset/admin/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="asset/admin/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="javascipt:;" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="asset/admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">Admin: {{userInfo.username}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="asset/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      {{userInfo.username}} - Web Developer
                      <small>Member since Nov. 2012</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a ng-click="logout()" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="asset/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{userInfo.username}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">PT LUKISON GROUP</li>
            <li class="active">
              <a href="#/salesman">
                <i class="fa fa-th"></i> <span>HOME</span>
                <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li class="active treeview">
              <a href="javascript:;">
                <i class="fa fa-th"></i>
                <span>List Elements</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#/salesman/listbarangumum"><i class="fa fa-circle-o"></i>Barang Umum</a></li>
                <li><a href="#/salesman/listkategori"><i class="fa fa-circle-o"></i> Kategori</a></li>
                <li><a href="#/salesman/listtipebarang"><i class="fa fa-circle-o"></i> Tipe Barang</a></li>
                <li><a href="#/salesman/listsuplier"><i class="fa fa-circle-o"></i> Suplier</a></li>
              </ul>
            </li>
            <li class="active treeview">
              <a href="javascript:;">
                <i class="fa fa-th"></i>
                <span>New Elements</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#/salesman/new/barangumum"><i class="fa fa-circle-o"></i>New Barang Umum</a></li>
                <li><a href="#/salesman/new/kategori"><i class="fa fa-circle-o"></i>New Kategori</a></li>
                <li><a href="#/salesman/new/tipebarang"><i class="fa fa-circle-o"></i>New Tipe Barang</a></li>
                <li><a href="#/salesman/new/suplier"><i class="fa fa-circle-o"></i>New Suplier</a></li>
              </ul>
            </li>

            <li>
              <a href="#/salesman/chatting">
                <i class="fa fa-th"></i> <span>CHATTING</span>
                <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li>
              <a href="#/salesman/faq">
                <i class="fa fa-th"></i> <span>FAQ</span>
                <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li>
              <a href="#/salesman/tips">
                <i class="fa fa-th"></i> <span>TIPS</span>
                <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li>
              <a href="#/salesman/setting">
                <i class="fa fa-th"></i> <span>SETTING</span>
                <small class="label pull-right bg-green">new</small>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-md-12">
            <!-- for flashMessage in app.session.flashbag.get('notice') -->
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">    &times;
                </button>
                <h4>SALESMAN HOME</h4>
              </div>
            <!-- endfor flashMessage -->
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4">
                <div class="panel panel-info">
                  <div class="panel-heading"><b>DATA PROSESS</b></div>
                  <div class="list-group"><a ng-click="spin()" class="list-group-item" href="#/salesman/listbarangumum"><span class="badge">0</span>List Barang Umum</a>
                    <a ng-click="spin()" class="list-group-item" href="#/salesman/listkategori"><span class="badge">0</span>List Kategori</a>
                    <a ng-click="spin()" class="list-group-item" href="#/salesman/listtipebarang"><span class="badge">0</span>List Tipe Barang</a>
                    <a ng-click="spin()" class="list-group-item" href="#/salesman/listsuplier"><span class="badge">0</span>List Suplier</a>
                  </div>
                </div>      
              </div>
              <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading"><b>WIDGET</b></div>
                    <div class="list-group"><a ng-click="spin()" class="list-group-item" href="#/salesman/chart/esm/sales"><span class="badge">0</span>Chart ESM Sales</a>
                      <a ng-click="spin()" class="list-group-item" href="#/salesman/chart/esm/warehouses"><span class="badge">0</span>Chart ESM Warehouse</a>
                      <a ng-click="spin()" class="list-group-item" href="#/salesman/chart/hrm/personalia"><span class="badge">0</span>Chart HRM Personalia</a>
                      <a ng-click="spin()" class="list-group-item" href="#/salesman/profile"><span class="badge">0</span>Profile</a>
                    </div>
                </div>      
              </div>
              <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4">
                <div class="panel panel-info">
                  <div class="panel-heading"><b>REPORTING</b></div>
                  <div class="list-group"><a class="list-group-item" href="#/salesman/new/barangumum"><span class="badge">0</span>New Barang Umum</a>
                    <a class="list-group-item" href="#/salesman/new/kategori"><span class="badge">0</span>New Kategori</a>
                    <a class="list-group-item" href="#/salesman/new/suplier"><span class="badge">0</span>New Suplier</a>
                    <a class="list-group-item" href="#/salesman/new/tipebarang"><span class="badge">0</span>New Tipe Barang</a>
                  </div>
                </div>        
              </div>
          </div>
        </section><!-- /.content -->
        
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong>Copyright &copy;<a href="http://lukisongroup.com">Lukison Group</a>.</strong>
      </footer>
</div>
<script src="asset/admin/dist/js/app.min.js"></script>