<div ng-include="'angular/partial/headtemplate.html'"></div>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
      <!-- for flashMessage in app.session.flashbag.get('notice') -->
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">    &times;
          </button>
          <h4>SALESMAN LIST KATEGORI</h4>
        </div>
      <!-- endfor flashMessage -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-danger">
          <div class="panel-heading">List Kategori</div>
          <div class="panel-body table-responsive">
             <table class="table table-responsive table-hovered table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>KD KATEGORI</th>
                  <th>NM KATEGORI</th>
                  <th>NOTE</th>
                  <th>DETAIL</th>
                  <th>EDIT</th>
                  <th>DELETE</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="category in categories">
                  <td>{{category.ID}}</td>
                  <td>{{category.KD_KATEGORI}}</td>
                  <td>{{category.NM_KATEGORI}}</td>
                  <td>{{category.NOTE}}</td>
                  <td><a href="#/salesman/edit/kategori/{{category.ID}}">
                    <i class="fa fa-eye fa-2x"></i></a>
                  </td>
                  <td><a href="#/salesman/edit/kategori/{{category.ID}}">
                    <i class="fa fa-refresh fa-2x"></i></a>
                  </td>
                  <td><a href=""><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
              </tbody>
             </table>
           </div>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
  
</div><!-- /.content-wrapper -->

<div ng-include="'angular/partial/foottemplate.html'"></div>