<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
          <h2><a class="list-group-item active" href="#/">New Customer <i class="fa fa-chevron-right pull-right"></i></a></h2>
      </div>

      <div class="list-group-item list-group-item-home">
          <h2><a class="list-group-item active" href="#/widget/listcustomer">Customer Visit <i class="fa fa-chevron-right pull-right"></i></a></h2>
      </div>

      <div class="list-group-item list-group-item-home">
          <h2><a class="list-group-item active" href="#/widget/map">Customer Map<i class="fa fa-chevron-right pull-right"></i></a></h2>
      </div>

      <div class="list-group-item list-group-item-home">
          <h2>
            <a class="list-group-item active" href="#/">Reportase<i class="fa fa-chevron-right pull-right"></i></a></h2>
      </div>

      <div class="list-group-item list-group-item-home">
          <h2>
            <a class="list-group-item active" href="#/">Profile<i class="fa fa-chevron-right pull-right"></i></a></h2>
      </div>

    </div>

  </div>
</div>
