<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <span data-ng-show="loading" us-spinner="{radius:30, width:8, length: 16}"></span>
      <div ng-cloack class="tabsdemoStaticTabs">
        <md-content class="md-padding">
          <md-tabs md-dynamic-height md-border-bottom class="md-accent" >
            <md-tab id="tab1">
              <md-tab-label>LIST  </md-tab-label>
              <md-tab-body>
                  <md-list>
                    <section class="content">
                      <div class="row">
                        <div class="col-md-12">
                          <!-- The time line -->
                          <ul class="timeline">
                            <li class="time-label">
                              <span class="bg-green">
                                  Start Action
                              </span>
                            </li>
                            <li >
                              <i class="fa fa-user bg-aqua" ng-class="noticestartgambar"></i>
                              <div class="timeline-item" ng-click="starttakeapicture()" >
                                <span class="time"><i class="fa fa-clock-o"></i> Do It!</span>
                                <h3 class="timeline-header no-border" ng-class="noticestart">Take Start Picture</h3>
                              </div>
                            </li>
                            <li>
                              <i class="fa fa-user bg-aqua" ng-class="noticestockqtyicon"></i>
                              <div class="timeline-item" >
                                <div class="box box-primary">
                                    <div class="box-header with-border" ng-class="noticestockqty">
                                      <h3 class="box-title">Stockist Quantity</h3>

                                      <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                      </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body" style="display: block;">
                                      <div class="timeline-body" ng-show="stockqtyshow">
                                          <img ng-repeat="barang in barangstockqty" src="asset/graph/{{barang.KD_BARANG}}.png"  class="margin" id="{{$index}}" ng-click="updatestockqty(barang.KD_BARANG,$index)">
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </li>

                            <li>
                              <i class="fa fa-user bg-aqua" ng-class="noticesellouticon"></i>
                              <div class="timeline-item" >
                                <div class="box box-primary">
                                    <div class="box-header with-border" ng-class="noticesellout">
                                      <h3 class="box-title">Product Sell Out</h3>

                                      <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                      </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body" style="display: block;">
                                      <div class="timeline-body" ng-show="selloutshow">
                                          <img ng-repeat="barang in barangsellout" src="asset/graph/{{barang.KD_BARANG}}.png"  class="margin" id="{{$index}}" ng-click="updatesellout(barang.KD_BARANG,$index)">
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <i class="fa fa-user bg-aqua" ng-class="noticesellinicon"></i>
                              <div class="timeline-item" >
<!--                                 <span class="time"><i class="fa fa-clock-o"></i> Do It!</span>
                                <h3 class="timeline-header no-border" ng-click="productinventory()" ng-class="noticesellin" id="headers">
                                  Product Sell In
                                </h3>
                                <div class="timeline-body" ng-show="sellinshow">
                                  <img ng-repeat="barang in barangsellin" src="asset/graph/{{barang.KD_BARANG}}.png"  class="margin" id="{{$index}}" ng-click="updatesellin(barang.KD_BARANG,$index)">

                                </div> -->
                                <div class="box box-primary">
                                    <div class="box-header with-border" ng-class="noticesellin">
                                      <h3 class="box-title">Product Sell In</h3>

                                      <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                      </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body" style="display: block;">
                                      <div class="timeline-body" ng-show="sellinshow">
                                        <img ng-repeat="barang in barangsellin" src="asset/graph/{{barang.KD_BARANG}}.png"  class="margin" id="{{$index}}" ng-click="updatesellin(barang.KD_BARANG,$index)">
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </li>

                            <li>
                              <i class="fa fa-user bg-aqua" ng-class="noticeendgambar"></i>
                              <div class="timeline-item" ng-click="endtakeapicture()">
                                <span class="time"><i class="fa fa-clock-o"></i> Do It!</span>
                                <h3 class="timeline-header no-border" ng-class="noticeend">Take End Picture</h3>
                              </div>
                            </li>
                            <li>
                              <i class="fa fa-user bg-aqua" ng-class="noticesellinicon"></i>
                              <div class="timeline-item" >
                                <span class="time"><i class="fa fa-clock-o"></i> Do It!</span>
                                <h3 class="timeline-header no-border">
                                  Product Expired
                                </h3>
                              </div>
                            </li>
                            <li class="time-label">
                              <span class="bg-red">
                                  <a href="" ng-click="checkout(checkouttanggal,checkoutcustomer)">CheckOut Action</a>
                              </span>
                            </li>

                            
                          </ul>
                        </div>
                        <!-- /.col -->
                      </div>
                    </section>
                  </md-list>   
              </md-tab-body>
            </md-tab>
            
            <md-tab id="tab2">
              <md-tab-label>MAP {{customer.CUST_KD}}</md-tab-label>
              <md-tab-body>
                  <ng-map zoom="17" center="{{lat}},{{long}}" style="display:block; width:100%; height:400px">
                      <marker position="{{lat}}, {{long}}" on-click="toggleBounce()" animation="BOUNCE" draggable="false"></marker>

                      <marker position="{{customerlong}}, {{customerlat}}"  draggable="false" icon='http://google-maps-icons.googlecode.com/files/factory.png'></marker>

                      <shape name="circle"
                          stroke-color="#FF0000"
                          stroke-opacity="0.8"
                          stroke-weight="2"
                          fill-color="#FF0000"
                          fill-opacity="0.35"
                          center="{{customerlong}}, {{customerlat}}"
                          radius="100">
                      </shape>
                  </ng-map>
              </md-tab-body>
            </md-tab>

            <md-tab id="tab3">
              <md-tab-label>SUMMARY</md-tab-label>
              <md-tab-body>
                  <section class="content">
                    <div class="row" >
                      <div class="col-md-12">
                        <div class="panel panel-danger">
                          <div class="panel-body table-responsive">
                             <table class="table table-hover table-striped table-bordered">
                              <thead>
                                <th>Product</th>
                                <th>Stock Qty</th>
                                <th>Sell Out</th>
                                <th>Sell In</th>
                              </thead>
                              <tbody>
                                <tr ng-repeat="barangsummary in BarangSummary">
                                  <td>{{barangsummary.KD_BARANG}}</td>
                                  <td>{{barangsummary.STOCK}}</td>
                                  <td>{{barangsummary.SELL_OUT}}</td>
                                  <td>{{barangsummary.SELL_IN}}</td>
                                </tr>
                                <!-- <tr>
                                  <td>Total</td>
                                  <td>{{totalstockqty}}</td>
                                  <td>{{totalsellout}}</td>
                                  <td>{{totalsellin}}</td>
                                </tr> -->
                              </tbody>
                             </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section><!-- /.content -->
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div ng-include="'angular/partial/foottemplate.html'"></div>
 