<div ng-include="'angular/partial/headtemplate.html'"></div>
<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
      <!-- for flashMessage in app.session.flashbag.get('notice') -->
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">    &times;
          </button>
          <h4>NEW REQUEST ORDER</h4>
        </div>
      <!-- endfor flashMessage -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box box-danger">
          <div class="box-header">
            <h3 class="box-title">CREATE NEW REQUEST ORDER</h3>
          </div>
          <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
          <div class="box-body">
            <div class="form-group" ng-class="{ 'has-error' : userForm.kodekategori.$invalid && !userForm.kodekategori.$pristine }">
              <label>KODE KATEGORI</label>
              <select class="form-control select2" style="width: 100%;" ng-model="user.kategoris" ng-change="kodekategorichange()" required>
                <option selected="selected" value="">--Pilih Suplier--</option>
                <option ng-repeat="kategori in kategoris" value="{{kategori.ID}}">{{kategori.NM_KATEGORI}}</option>
              </select>
              <p ng-show="userForm.kodekategori.$invalid && !userForm.kodekategori.$pristine" class="help-block">Kode Kategori is required.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.barangumums.$invalid && !userForm.barangumums.$pristine }">
              <label>KODE BARANG</label>
              <select class="form-control select2" style="width: 100%;" ng-model="user.barangumums" 
              ng-disabled="barum">
                <option selected="selected" value="">--Pilih Barang--</option>
                <option ng-repeat="barangumum in barangumums" value="{{barangumum.ID}}">{{barangumum.NM_BARANG}}</option>
              </select>
              <p ng-show="userForm.barangumums.$invalid && !userForm.barangumums.$pristine" class="help-block">Barang Umums is required.</p>
            </div>



            <div class="form-group" ng-class="{ 'has-error' : userForm.satuanbarang.$invalid && !userForm.satuanbarang.$pristine }">
                <label>SATUAN BARANG</label>
                <input type="text" name="satuanbarang" class="form-control" ng-model="user.satuanbarang" required>
                <p ng-show="userForm.satuanbarang.$invalid && !userForm.satuanbarang.$pristine" class="help-block">Satuan Barang is required.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.quantity.$invalid && !userForm.quantity.$pristine }">
                <label>REQUEST QUANTITY</label>
                <input type="text" name="quantity" class="form-control" ng-model="user.quantity" required>
                <p ng-show="userForm.quantity.$invalid && !userForm.quantity.$pristine" class="help-block">You name is required.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.informasi.$invalid && !userForm.informasi.$pristine }">
                <label>INFORMASI</label>
                <input type="text" name="informasi" class="form-control" ng-model="user.informasi" required>
                <p ng-show="userForm.informasi.$invalid && !userForm.informasi.$pristine" class="help-block">You name is required.</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
            
        </form>
        <!-- /.box -->
      </div>
      <!-- /.col (left) -->
    </div>
  </section><!-- /.content --> 
</div><!-- /.content-wrapper -->
<div ng-include="'angular/partial/foottemplate.html'"></div>