<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>

<div class="content-wrapper">
  <span data-ng-show="loadingcontent" us-spinner="{radius:30, width:8, length: 16, position:'fixed'}"></span>
	<section class="content">
	    <div class="row" >
	      <div class="col-md-12">
	        <div class="panel panel-danger">
	          <div class="panel-body table-responsive">
	             <table class="table table-hover table-striped table-bordered">
	              <thead>
	                <tr align="center">
	                  <th class="bg-aqua" rowspan="2" style="text-align:center;vertical-align:middle">
	                    Customer
	                  </th>
	                  <th class="bg-aqua" style="text-align:center;vertical-align:middle" colspan="5"
	                    ng-repeat="product in combinations[0].products">
	                    {{product.NM_BARANG}}
	                  </th>
	                </tr>
	                <tr class="success" ng-bind-html="indonesia"></tr>
	              </thead>
	              <tbody>
	                <tr ng-repeat="customer in combinations">
	                  <td><a href="#/summary/{{tanggaldiview}}/{{customer.CUST_KD}}">{{customer.CUST_NM}}</a></td>
	                  <td align="center" style="display:none" ng-repeat-start = "product in customer.products">
	                  </td>
	                  <td align="center" ng-repeat-start ="typequantity in product.penjualan">
	                    {{typequantity.QTY}}
	                  </td>
	                  <td align="center" style="display:none" ng-repeat-end></td>
	                  <td align="center" style="display:none" ng-repeat-end></td>
	                </tr>
	                <tr class="success" ng-bind-html="totalinventory"></tr>
	              </tbody>
	             </table>
	          </div>
	        </div>
	      </div>
	    </div>
  	</section>
</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>