<ion-view view-title="INVENTORY">
  <ion-content class="padding">
    <div class="list">
    	<div class="item item-divider">STOCK</div>
	    <div class="row" style="text-align:center;">
			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Cassava</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Talos</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Roasted</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Crackers</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Combo</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>
	    </div>
	    <div class="item item-divider">REQUEST</div>
	    <div class="row" style="text-align:center;">
			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Cassava</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Talos</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Roasted</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Crackers</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Combo</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>
	    </div>
	</div>
	<div class="list">
    	<div class="item item-divider">LAST STOCK</div>
	    <div class="row" style="text-align:center;">
			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Cassava</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Talos</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Roasted</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Crackers</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Combo</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>
	    </div>
	    <div class="item item-divider">LAST REQUEST</div>
	    <div class="row" style="text-align:center;">
			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Cassava</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Talos</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Roasted</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Crackers</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>

			<div class="col col-20 ">
				<div class="item item-divider" >
					<h5>Combo</h5> 
				</div>
				<div class="item">
					<h3>50 PCS</h3>
				</div>
			</div>
	    </div>
	</div>
  </ion-content>
</ion-view>