<ion-view view-title="ACTION VISIT MEMO">
  <ion-content class="padding">
        <form method="post" novalidate>
          <div class="button-bar">
              <label class="item item-input">
                <span class="input-label">Start</span>
                <input type="date" name="valuestart" ng-model="exampleForm.valuestart" required>
              </label>
              <label class="item item-input">
                <span class="input-label">End</span>
                <input type="date" name="valueend" ng-model="exampleForm.valueend" required>
              </label>
              <label class="item item-input" ng-click="SubmitForm(exampleForm)">
                <span class="input-label" style="cursor:pointer">
                  Submit
                </span>
              </label>
          </div>
        </form>
        <ion-list>
            <div class="card">
                <a  ng-repeat="item in actionmemos | orderBy:'-CREATE_AT' " class="item item-avatar item-icon-right">
                    <img data-ng-src="data:image/jpeg;base64,{{item.IMG_BASE64}}">
                    <h2>{{item.NM_CUSTOMER}}</h2>
                    <p>{{item.ISI_MESSAGES}}</p>
                    <p>{{item.NM_FIRST}}</p>
                    <p>{{item.CREATE_AT}}</p>
                    <!-- <i class="icon ion-chatbubble muted"></i> -->
                </a>
            </div>
        </ion-list>
        <ion-list ng-if="actionmemos.length < 1">
          <ion-item class="item-remove-animate item-icon-right calm-bg" type="item-text-wrap">
            <h2 data-fittext="1" data-fittext-max="14">TIDAK ADA AKTIFITAS</h2>
          </ion-item>
        </ion-list>
  </ion-content>
</ion-view>