<ion-view view-title="NOO" name="tab-noo">
  <ion-tabs class="tabs-top tabs-stable">
      <ion-tab title="NEW NOO" icon-off="icon ion-arrow-return-right" icon-on="icon ion-arrow-return-right" href="#/tab/noo/new">
        <ion-nav-view name="noo-new"></ion-nav-view>
      </ion-tab>
      <ion-tab title="ADMIN APROVE" icon-off="icon ion-arrow-return-left" icon-on="icon ion-arrow-return-left" href="#/tab/noo/admin">
        <ion-nav-view name="noo-admin"></ion-nav-view>
      </ion-tab>
      <ion-tab title="NKA APROVE" icon-off="icon ion-arrow-swap" icon-on="icon ion-arrow-swap" href="#/tab/noo/nka">
        <ion-nav-view name="noo-nka"></ion-nav-view>
      </ion-tab>
      <ion-tab title="ACCOUNTING APROVE" icon-off="icon ion-clock" icon-on="icon ion-clock" href="#/tab/noo/accounting">
        <ion-nav-view name="noo-accounting"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>