<ion-view view-title="KAM APPROVE">
  <ion-content class="has-header has-footer" padding="true">
      <ion-list show-Delete = "!data.showDelete" show-Reorder = "!data.showReorder">
          <ion-item>
              <img ng-src="img/C.png" class="thumbnail-custom">
              <h2>Customer Satu
                  <br> 
                  <font size="2" color="gray" >Jl.Merdeka Timur</font>
                  <br> 
                  <font size="2" color="gray" >081260014478</font></br>
                  <font size="2" color="gray" >12 Desember 2016</font>
              </h2>
              <ion-delete-button class="ion-ios-plus-outline" ng-click="openModal(item);"></ion-delete-button>
              <ion-reorder-button class="ion-arrow-right-a" ></ion-reorder-button>
          </ion-item>
          <ion-item>
              <img ng-src="img/C.png" class="thumbnail-custom">
              <h2>Customer Satu
                  <br> 
                  <font size="2" color="gray" >Jl.Merdeka Timur</font>
                  <br> 
                  <font size="2" color="gray" >081260014478</font></br>
                  <font size="2" color="gray" >12 Desember 2016</font>
              </h2>
              <ion-delete-button class="ion-ios-plus-outline" ng-click="openModal(item);"></ion-delete-button>
              <ion-reorder-button class="ion-arrow-right-a" ></ion-reorder-button>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>