<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>

<div class="content-wrapper">
  <span data-ng-show="loadingcontent" us-spinner="{radius:30,width:8,length:16,position:'fixed'}"></span>
  <section class="content">
    <div class="row">

      <div ng-cloack class="tabsdemoStaticTabs">
        <md-content class="md-padding">
          <md-tabs md-dynamic-height md-border-bottom md-selected="data.selectedIndex" class="md-accent">
            <md-tab id="tab1">
              <md-tab-label>LIST CUSTOMER </md-tab-label>
              <md-tab-body>
                  <md-list>
                    <md-list-item class="noright" ng-repeat="customer in customers | orderBy: 'JARAK' " ng-click="detailjadwalkunjungan(customer)">
                        <img  ng-src="{{customer.imagecheckout}}" class="md-avatar" />
                        <p>
                          <a>
                            {{customer.CUST_NM}}  ({{customer.JARAKMETER }})
                          </a>
                          <md-progress-linear md-mode="determinate"  value="{{customer.persen}}"></md-progress-linear>
                          <!-- <md-checkbox class="md-secondary" ng-model="customer.wanted"></md-checkbox> -->
                        </p>
                    </md-list-item>
                  </md-list>
              </md-tab-body>
            </md-tab>

            <md-tab id="tab2">
              <md-tab-label>MAP</md-tab-label>
              <md-tab-body>
                  <ng-map zoom="17" center="{{gpslat}},{{gpslong}}" style="display:block; width:100%; height:400px">
                      <marker position="{{gpslat}}, {{gpslong}}" on-click="toggleBounce()" animation="BOUNCE" draggable="false"></marker>

                      <marker ng-repeat="customer in customers" position="{{customer.MAP_LAT}}, {{customer.MAP_LNG}}"  draggable="false" icon='asset/admin/dist/img/factory.png'></marker>
                  </ng-map>
              </md-tab-body>
            </md-tab>

            <!-- Using Api From Server -->
<!--             <md-tab id="tab3" ng-click="summaryall()">
              <md-tab-label>SUMMARY All</md-tab-label>
              <md-tab-body>
                  <section class="content">
                    <div class="row" >
                      <div class="col-md-12">
                        <div class="panel panel-danger">
                          <div class="panel-body table-responsive">
                             <table class="table table-hover table-striped table-bordered">
                              <thead>
                                <tr align="center">
                                  <th class="success"  rowspan="2" style="text-align:center;vertical-align:middle">
                                    Customer
                                  </th>
                                  <th class="success" style="text-align:center;vertical-align:middle" colspan="5"ng-repeat="xxx in siteres[0].products">    {{xxx.NM_BARANG}}
                                  </th>
                                </tr>
                                <tr class="warning" >
                                  <td align="right" ng-repeat-start="xxx in totalalls">STOCK</td>
                                  <td align="right">SELL OUT</td>
                                  <td align="right">SELL IN</td>
                                  <td align="right">RETURN</td>
                                  <td align="right" ng-repeat-end="xxx in totalalls">REQUEST</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="barang in siteres">
                                  <td>{{barang.CUST_NM}}</td>
                                  <td align="right" ng-repeat-start="xxx in barang.products">{{xxx.STOCK|number}}</td>
                                  <td align="right">{{xxx.SELL_OUT|number}}</td>
                                  <td align="right">{{xxx.SELL_IN|number}}</td>
                                  <td align="right">{{xxx.RETURN_INV|number}}</td>
                                  <td align="right" ng-repeat-end="xxx in barang.products">{{xxx.REQUEST_INV|number}}</td>
                                </tr>
                                <tr class="success">
                                  <td style="text-align:center;vertical-align:middle">TOTAL</td>
                                  <td align="right" ng-repeat-start="xxx in totalalls">{{xxx.TOTSTOCK|number}}</td>
                                  <td align="right">{{xxx.TOTSELL_OUT|number}}</td>
                                  <td align="right">{{xxx.TOTSELL_IN|number}}</td>
                                  <td align="right">{{xxx.TTL_RETURN_INV|number}}</td>
                                  <td align="right" ng-repeat-end="xxx in totalalls">{{xxx.TTL_REQUEST_INV|number}}</td>
                                </tr>
                              </tbody>
                             </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
              </md-tab-body>
            </md-tab> -->

            <!-- Using Sqlite From Local -->
           <md-tab id="tab3" ng-click="summaryallsqlite()">
              <md-tab-label>Summary All</md-tab-label>
              <md-tab-body>
                  <section class="content">
                    <div class="row" >
                      <div class="col-md-12">
                        <div class="panel panel-danger">
                          <div class="panel-body table-responsive">
                             <table class="table table-hover table-striped table-bordered">
                              <thead>
                                <tr align="center">
                                  <th class="bg-aqua" rowspan="2" style="text-align:center;vertical-align:middle">
                                    Customer
                                  </th>
                                  <th class="bg-aqua" style="text-align:center;vertical-align:middle" colspan="5"
                                    ng-repeat="product in combinations[0].products">
                                    {{product.NM_BARANG}}
                                  </th>
                                </tr>
                                <tr class="success" ng-bind-html="indonesia"></tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="customer in combinations">
                                  <td>{{customer.CUST_NM}}</td>
                                  <td align="center" style="display:none" ng-repeat-start = "product in customer.products">
                                  </td>
                                  <td align="center" ng-repeat-start ="typequantity in product.penjualan">
                                    {{typequantity.QTY}}
                                  </td>
                                  <td align="center" style="display:none" ng-repeat-end></td>
                                  <td align="center" style="display:none" ng-repeat-end></td>
                                </tr>
                                <tr class="success" ng-bind-html="totalinventory"></tr>
                              </tbody>
                             </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
              </md-tab-body>
            </md-tab>

            <md-tab id="tab4" ng-click="lastvisitsummary()">
              <md-tab-label>LV SUMMARY</md-tab-label>
              <md-tab-body>
                  <section class="content">
                    <div class="row" >
                      <div class="col-md-12">
                        <div class="panel panel-danger">
                          <div class="panel-body table-responsive">
                             <table class="table table-hover table-striped table-bordered">
                              <thead>
                                <tr align="center">
                                  <th class="success">
                                    Nama Pengunjung
                                  </th>
                                  <th class="success">
                                    {{datapengunjung.nama}}
                                  </th>
                                </tr>
                                <tr align="center">
                                  <th class="success">
                                    Tanggal Kunjungan
                                  </th>
                                  <th class="success">
                                    {{datapengunjung.tanggal}}
                                  </th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="panel panel-danger">
                          <div class="panel-body table-responsive">
                             <table class="table table-hover table-striped table-bordered">
                              <thead>
                                <tr align="center">
                                  <th class="success"  rowspan="2" style="text-align:center;vertical-align:middle">
                                    Customer
                                  </th>
                                  <th class="success" style="text-align:center;vertical-align:middle" colspan="5" ng-repeat="xxx in sitereslv[0].products">    {{xxx.NM_BARANG}}
                                  </th>
                                </tr>
                                <tr class="warning" >
                                  <td align="right" ng-repeat-start="xxx in sitereslv[0].products">STOCK</td>
                                  <td align="right">SELL OUT</td>
                                  <td align="right">SELL IN</td>
                                  <td align="right">RETURN</td>
                                  <td align="right" ng-repeat-end="xxx in sitereslv[0].products">REQUEST</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="barang in sitereslv">
                                  <td>{{barang.CUST_NM}}</td>
                                  <td align="right" class="bg-fuchsia" ng-repeat-start="xxx in barang.products">
                                    {{xxx.TYPE5|number}}
                                  </td>
                                  <td align="right" class="bg-aqua">{{xxx.TYPE6|number}}</td>
                                  <td align="right" class="bg-maroon">{{xxx.TYPE7|number}}</td>
                                  <td align="right" class="bg-light-blue">{{xxx.TYPE8|number}}</td>
                                  <td align="right" class="bg-olive" ng-repeat-end="xxx in barang.products">
                                    {{xxx.TYPE9|number}}
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td style="text-align:center;vertical-align:middle">TOTAL</td>
                                  <td align="right" class="bg-fuchsia" ng-repeat-start="xxx in totalallslv">
                                    {{xxx.TOTSTOCK|number}}
                                  </td>
                                  <td align="right" class="bg-aqua">{{xxx.TOTSELL_IN|number}}</td>
                                  <td align="right" class="bg-maroon">{{xxx.TOTSELL_OUT|number}}</td>
                                  <td align="right" class="bg-light-blue">{{xxx.TOTRETURN|number}}</td>
                                  <td align="right" class="bg-olive" ng-repeat-end="xxx in totalallslv">
                                    {{xxx.TOTREQUEST|number}}
                                  </td>
                                </tr>
                              </tbody>
                             </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
              </md-tab-body>
            </md-tab>

            <md-tab id="tab5">
              <md-tab-label>CHECK TIME</md-tab-label>
              <md-tab-body>
                  <section class="content">
                    <div class="row" >
                      <div class="col-md-12">
                        <div class="panel panel-danger">
                          <div class="panel-body table-responsive">
                             <table class="table table-hover table-striped table-bordered">
                              <thead>
                                <tr align="center">
                                  <th class="bg-aqua">NAMA CUSTOMER</th>
                                  <th class="bg-aqua">CHECK-IN TIME</th>
                                  <th class="bg-aqua">CHECK-OUT TIME<th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="customer in customers  | orderBy: 'CHECKIN_TIME' ">
                                  <td>{{customer.CUST_NM}}</td>
                                  <td ng-if="(customer.CHECKIN_TIME != null)">{{customer.CHECKIN_TIME  }}</td>
                                  <td ng-if="(customer.CHECKIN_TIME == null)">TIDAK MELAKUKAN KUNJUNGAN</td>
                                  <td ng-if="(customer.CHECKOUT_TIME != null)">{{customer.CHECKOUT_TIME }}</td>
                                  <td ng-if="(customer.CHECKIN_TIME == null && customer.CHECKOUT_TIME == null)">
                                    TIDAK MELAKUKAN KUNJUNGAN
                                  </td>
                                  <td ng-if="(customer.CHECKIN_TIME != null && customer.CHECKOUT_TIME == null)">
                                    BELUM CHECK-OUT
                                  </td>
                                </tr>
                              </tbody>
                             </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

              </md-tab-body>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div ng-include="'angular/partial/foottemplate.html'"></div>
