<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-danger">
          <div class="box-header">
            <h3 class="box-title">Create New Customer</h3>
          </div>
          <form name="customerForm" ng-submit="submitForm(customer)" method="post" novalidate>
          <div class="box-body" >
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Customer Identity</legend>
              <div class="form-group"  ng-class="{ 'has-error' : customerForm.KTP.$invalid && !customerForm.KTP.$pristine,'has-success':customerForm.KTP.$valid  }">
              <label>NO KTP</label>
                <input type="number" name="KTP" class="form-control" ng-model="customer.KTP" required focus-on="focusUsername">
                <p ng-show="customerForm.KTP.$invalid && !customerForm.KTP.$pristine" class="help-block">Nama Customer Tidak Boleh Kosong.</p>
              </div>

              <div class="form-group"  ng-class="{ 'has-error' : customerForm.CUST_NM.$invalid && !customerForm.CUST_NM.$pristine,'has-success':customerForm.CUST_NM.$valid  }">
              <label>Nama Customer</label>
                <input type="text" name="CUST_NM" class="form-control" ng-model="customer.CUST_NM" required>
                <p ng-show="customerForm.CUST_NM.$invalid && !customerForm.CUST_NM.$pristine" class="help-block">Nama Customer Tidak Boleh Kosong.</p>
              </div>

              <div class="form-group"  ng-class="{ 'has-error' : customerForm.ALAMAT.$invalid && !customerForm.ALAMAT.$pristine,'has-success':customerForm.ALAMAT.$valid  }">
              <label>Alamat Customer</label>
                <textarea name="ALAMAT" class="form-control" ng-model="customer.ALAMAT" required></textarea>
                <p ng-show="customerForm.ALAMAT.$invalid && !customerForm.ALAMAT.$pristine" class="help-block">AlamatTidak Boleh Kosong.</p>
              </div>
              
              <div class="form-group"  ng-class="{ 'has-error' : customerForm.TLP1.$invalid && !customerForm.TLP1.$pristine,'has-success':customerForm.TLP1.$valid  }">
              <label>Customer Telpon Number</label>
                <input type="text" name="TLP1" class="form-control" ng-model="customer.TLP1" required>
                <p ng-show="customerForm.TLP1.$invalid && !customerForm.TLP1.$pristine" class="help-block">No.Telepon Tidak Boleh Kosong.</p>
              </div>
              <div class="form-group"  ng-class="{ 'has-error' : customerForm.EMAIL.$invalid && !customerForm.EMAIL.$pristine,'has-success':customerForm.EMAIL.$valid  }">
                <label>Customer Email</label>
                  <input type="EMAIL" name="EMAIL" class="form-control" ng-model="customer.EMAIL" required>
                  <p ng-show="customerForm.EMAIL.$invalid && !customerForm.EMAIL.$pristine" class="help-block">Email Tidak Boleh Kosong.</p>
              </div>
              <div class="form-group"  ng-class="{ 'has-error' : customerForm.NPWP.$invalid && !customerForm.NPWP.$pristine,'has-success':customerForm.NPWP.$valid  }">
                <label>Customer NPWP</label>
                  <input type="text" name="NPWP" class="form-control" ng-model="customer.NPWP" required>
                  <p ng-show="customerForm.NPWP.$invalid && !customerForm.NPWP.$pristine" class="help-block">NPWP Tidak Boleh Kosong.</p>
              </div>
              <div class="form-group"  ng-class="{ 'has-error' : customerForm.SIUP.$invalid && !customerForm.SIUP.$pristine,'has-success':customerForm.SIUP.$valid  }">
                <label>Customer SIUP</label>
                  <input type="text" name="SIUP" class="form-control" ng-model="customer.SIUP" required>
                  <p ng-show="customerForm.SIUP.$invalid && !customerForm.SIUP.$pristine" class="help-block">SIUP Tidak Boleh Kosong.</p>
              </div>
              <div class="form-group">
                <label>ATTACHMENT</label>
                <div class="col-md-12">
                  <div class="box box-danger">
                    <div class="box-body no-padding">
                      <ul class="users-list clearfix">
                        <li style="width:50%" ng-click='ambilgambar("KTP")'>
                          <img data-ng-src="data:image/jpeg;base64,{{customer.ktp}}" alt="User Image">
                          <a class="users-list-name" href="#">KTP</a>
                        </li>
                        <li style="width:50%" ng-click='ambilgambar("NPWP")'>
                          <img data-ng-src="data:image/jpeg;base64,{{customer.npwp}}" alt="User Image">
                          <a class="users-list-name" href="#">NPWP</a>
                        </li>
                        <li style="width:50%" ng-click='ambilgambar("SIUB")'>
                          <img data-ng-src="data:image/jpeg;base64,{{customer.siub}}" alt="User Image">
                          <a class="users-list-name" href="#">SIUB</a>
                        </li>
                        <li style="width:50%" ng-click='ambilgambar("TTD")'>
                          <img data-ng-src="data:image/jpeg;base64,{{customer.ttd}}" alt="User Image" ng-model="customer.ttd">
                          <a class="users-list-name" href="#">TTD</a>
                        </li>
                        <li style="width:50%" ng-click='ambilgambar("FS1")'>
                          <img data-ng-src="data:image/jpeg;base64,{{customer.FS1}}" alt="User Image" ng-model="customer.ttd">
                          <a class="users-list-name" href="#">FRONT STORE 1</a>
                        </li>
                        <li style="width:50%" ng-click='ambilgambar("FS2")'>
                          <img data-ng-src="data:image/jpeg;base64,{{customer.FS2}}" alt="User Image" ng-model="customer.ttd">
                          <a class="users-list-name" href="#">FRONT STORE 2</a>
                        </li>
                      </ul>
                      <!-- /.users-list -->
                    </div>
                  </div>
                </div>
              </div>

            </fieldset>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a href="javascript::;" class="btn btn-sm btn-danger btn-flat pull-left">Cancel</a>
            <button type="submit" ng-disabled="customerForm.$invalid" class="btn btn-sm btn-success btn-flat pull-right">Submit</button>
          </div>
        </div>
      </form>
        <!-- /.box -->
      </div>
      <!-- /.col (left) -->
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div ng-include="'angular/partial/foottemplate.html'"></div>
 