
<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper" >
    <section class="content">
        <div class="row placeholders">
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/products">
              <img src="asset/admin/dist/img/chat.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Product</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/categorys">
              <img src="asset/admin/dist/img/telepon.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Category</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/unitbarangs">
              <img src="asset/admin/dist/img/meeting.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Unit Barang</h4>
            </div>
        </div>
        <div class="row placeholders">
          <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/tipebarangs">
              <img src="asset/admin/dist/img/money.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Tipe Barang</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/supliers">
              <img src="asset/admin/dist/img/chart.jpg" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Suplier</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/distributors">
              <img src="asset/admin/dist/img/product.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Distributor</h4>
            </div>
            
        </div>
        <div class="row placeholders">
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/warehouses">
              <img src="asset/admin/dist/img/gopo.jpg" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Warehouse</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/customers">
              <img src="asset/admin/dist/img/ro.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Customers</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/manufacturings">
              <img src="asset/admin/dist/img/mail.jpg" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">Manufacturing</h4>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/warehouses">
              <img src="asset/admin/dist/img/xlimport.png" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">IMPORT EXCEL</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/customers">
              <img src="asset/admin/dist/img/json.jpg" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">IMPORT JSON</h4>
            </div>
            <div class="col-xs-4 col-sm-4 placeholder">
              <a href="#/manufacturings">
              <img src="asset/admin/dist/img/csv.jpg" width="100" height="100" class="img-circle">
              </a>
              <h4 style="width: 100px;text-align:center;display:block;">IMPORT CSV</h4>
            </div>
        </div>
    </section>

</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>