
<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper" >
    <section class="content">
      <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/products">
              <img src="asset/admin/dist/img/chat.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Product</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#categorys">
              <img src="asset/admin/dist/img/telepon.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Category</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/tipebarangs">
              <img src="asset/admin/dist/img/mail.jpg" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Type</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/unitbarangs">
              <img src="asset/admin/dist/img/chat.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Unit</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/supliers">
              <img src="asset/admin/dist/img/chat.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Supliers</h4>
            </div>
        </div>
      </div>
    </section>

</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>