
<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper" >
    <section class="content">
      <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="javascript:;" ng-click="toggleMenuKanan()" data-toggle="control-sidebar">
              <img src="asset/admin/dist/img/200x200/chart.jpg" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Chat</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="javascript:;" ng-click="chat()">
              <img src="asset/admin/dist/img/200x200/coffee.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Meeting</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/beritaacara/inbox">
              <img src="asset/admin/dist/img/200x200/clubing.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Berita Acara</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/chart">
              <img src="asset/admin/dist/img/200x200/money.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">FAM</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/inventory">
              <img src="asset/admin/dist/img/200x200/product.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">SCM</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/200x200/meeting.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">HRM</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/200x200/mail.jpg" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">ITM</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/requestorder">
              <img src="asset/admin/dist/img/200x200/ro.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">RO</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/200x200/gopo.jpg" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">PO</h4>
            </div>
        </div>
      </div>
    </section>

</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>