
<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper" >
    <section class="content">
      <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/newro">
              <img src="asset/admin/dist/img/chat.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">New</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/previewro" ng-click="telepon()">
              <img src="asset/admin/dist/img/coffee.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Preview</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/acc">
              <img src="asset/admin/dist/img/chart.jpg" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Acc</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/mgraprove">
              <img src="asset/admin/dist/img/money.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Mgr Rev</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/progress">
              <img src="asset/admin/dist/img/ro.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Progress</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/mail.jpg" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Complete</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="#/chart">
              <img src="asset/admin/dist/img/money.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Print</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/ro.png" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Export</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <a href="javascript:;" ng-click="telepon()">
              <img src="asset/admin/dist/img/mail.jpg" class="img-responsive img-circle">
              </a>
              <h4 style="text-align:center;display:block;">Email</h4>
            </div>
        </div>
      </div>
    </section>

</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>