<ion-view view-title="EXP LAYER-GEO">
  <ion-content class="has-header has-footer" padding="true">
  		  <div class="button-bar">
          	<label class="item item-input">
      			  <span class="input-label">Month</span>
      			  <input type="month" name="input" ng-model="example.value" ng-change="onSearchChange()">
      			</label>
        </div>
        <div id="chart-expiredgeomonth"></div>
        <div id="chart-totalexpired"></div>
        <div id="chart-expiredallyear"></div>
  </ion-content>
</ion-view>