<div ui-content-for="title">
  <span>Detail Customer</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group">
		<h2>
			<a class="list-group-item active" ng-click="scan()">
				Scan Barcode<i class="fa fa-chevron-right pull-right"></i>
			</a>
		</h2>

		<h2>
			<a class="list-group-item active" ng-click="cekrek()">
				Take A Picture<i class="fa fa-chevron-right pull-right"></i>
			</a>
		</h2>

		<h2>
			<a class="list-group-item active" ng-click="jepret()">
				Take A Picture<i class="fa fa-chevron-right pull-right"></i>
			</a>
		</h2>
    </div>
  </div>
</div>