<ion-view view-title="YOUR CART" name="dashboard-view">
  <ion-content class="padding">
        <ion-list >
			<ion-item class="chat-item item-remove-animate item-thumbnail-left" ng-repeat="item in menu_items" ng-if="item.quantity">
                <img  ng-src="{{'graph/'+ item.KD_PRODUCT +'.png'}}"  ng-click="addtocart(item)">
				
				<p style="position:absolute;right:10px;">
				<a  ng-click="addtocart(item)" class="button  button-balanced button-clear  icon ion-android-cart">
					<span ng-if="item.quantity">{{item.quantity}}</span>  
				</a> 
				</p>
                
				<h2 ng-click="addtocart(item)" > 
					{{item.NM_PRODUCT}} 
				</h2>
			</ion-item> 
        </ion-list>
        <button class="button button-block button-calm" ng-click="placeanorder(data)" ng-show="cartberisi">Place An Order</button>
        <button class="button button-block button-assertive" ng-click="login(data)" ng-hide="cartberisi">Belum Ada Product Di Keranjang Belanja</button>
  </ion-content>
</ion-view>