<ion-view view-title="Orders Area" name="orders-view" cache-view="false">
  	<ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="list chat-item item-remove-animate" ng-repeat="order in orders">
            <a ui-sref="main.order({id:order.ID})" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg" class="icon">
                <h2>{{order.NO_RESIORDER}}</h2>
                <p>Rp. {{order.TOTAL_ORDER|number}}</p>
                <p>{{order.TGL_ORDER}}</p>
                <i class="icon ion-arrow-right-a muted"></i>
            </a>
        </div>
  	</ion-content>
</ion-view>

<!-- <ion-view view-title="Orders Area" name="dashboard-view">
    <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list >
            <ion-item class="chat-item item-remove-animate" ng-repeat="order in orders">
                <a href="#/main/details/{{order.ID}}" class="item item-avatar item-icon-right">
                    <img src="img/tyrion.jpg" class="icon">
                    <h2>{{order.NO_RESIORDER}}</h2>
                    <p>Rp. {{order.TOTAL_ORDER|number}}</p>
                    <p>{{order.TGL_ORDER}}</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view> -->