<ion-view view-title="OrdersDetail Area" name="orders-view">
  	<ion-content class="padding">
        <div class="list chat-item item-remove-animate" ng-repeat="order in orders | orderBy:TGL_ORDER :true">

        </div>
        <div class="list chat-item item-remove-animate" ng-repeat="order in orders | orderBy:TGL_ORDER :true">

        </div>
        <div class="list chat-item item-remove-animate" ng-repeat="order in orders | orderBy:TGL_ORDER :true">

        </div>
  	</ion-content>
</ion-view>