<ion-view view-title="Orders Area" name="orders-view">
  	<ion-content class="padding">
        <div class="list chat-item item-remove-animate" ng-repeat="order in orders | orderBy:TGL_ORDER :true">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg" class="icon">
                <h2>{{order.NO_RESIORDER}}</h2>
                <p>Rp. {{order.TOTAL_ORDER|number}}</p>
                <p>{{order.TGL_ORDER}}</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
  	</ion-content>
</ion-view>