<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header bg-maroon">
                REQUEST ORDER NEED TO ACC
            </div>
            <div class="box-body">
                <table>
                <thead>
                    <tr>
                        <th class="numeric">#</th>
                        <th class="numeric">NO.REQUEST ORDER</th>
                        <th class="numeric">REQUEST ORDER BY</th>
                        <th class="numeric">REQUEST ORDER DATE</th>
                        <th class="numeric">DEPARTMENT</th>
                        <th class="numeric">JUMLAH ITEM</th>
                        <th class="numeric">TOTAL HARGA</th>
                        <th class="numeric">DETAIL</th>
                        <th class="numeric">STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>RO.2016.08.22.001</td>
                        <td>RADUMTA SITEPU</td>
                        <td>2016.08.22</td>
                        <td>IT</td>
                        <td>5</td>
                        <td>Rp 5000.000</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="#/acc/1">
                              <i class="fa fa-eye"></i> &nbsp;View Detail
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm bg-aqua">
                              <i class="fa fa-edit"></i> &nbsp;New RO
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>RO.2016.08.22.001</td>
                        <td>RADUMTA SITEPU</td>
                        <td>2016.08.22</td>
                        <td>IT</td>
                        <td>5</td>
                        <td>Rp 5000.000</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="#/acc/2">
                              <i class="fa fa-eye"></i> &nbsp;View Detail
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm bg-aqua">
                              <i class="fa fa-edit"></i> &nbsp;New RO
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>RO.2016.08.22.001</td>
                        <td>RADUMTA SITEPU</td>
                        <td>2016.08.22</td>
                        <td>IT</td>
                        <td>5</td>
                        <td>Rp 5000.000</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="#/acc/3">
                              <i class="fa fa-eye"></i> &nbsp;View Detail
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm">
                              <i class="fa fa-check"></i> &nbsp;Checked
                            </a>
                        </td>
                    </tr>
                </tbody>
               </table>
            </div>
         </div>
        </div>
      </div>
    </section>
</div>

<div ng-include="'angular/partial/foottemplate.html'"></div>
