<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header bg-maroon">
                COMPLETE RO
            </div>
            <div class="panel-body" id="no-more-tables">
                <table class="table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th class="numeric">#</th>
                        <th class="numeric">RESI R0</th>
                        <th class="numeric">CREATOR</th>
                        <th class="numeric">CREATE AT</th>
                        <th class="numeric">ORI ITEM</th>
                        <th class="numeric">ORI TOTAL</th>
                        <th class="numeric">ACCOR</th>
                        <th class="numeric">ACC AT</th>
                        <th class="numeric">ACC ITEM</th>
                        <th class="numeric">ACC TOTAL</th>
                        <th class="numeric">APROVER</th>
                        <th class="numeric">APROVE AT</th>
                        <th class="numeric">STATUS</th>
                        <th class="numeric">DETAIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="NO" class="preview">
                            1
                        </td>
                        <td data-title="RESI" class="preview">
                            RO.2016.08.23.001
                        </td>
                        <td data-title="CREATOR" class="preview">
                            RADUMTA SITEPU / IT
                        </td>
                        <td data-title="CREATE AT" class="preview">
                            Selasa, 23-08-2016
                        </td>
                        <td data-title="ORIGINAL ITEM" class="preview">
                            5 ITEM
                        </td>
                        <td data-title="ORIGNAL TOTAL" class="preview">
                            Rp. 16.000.000
                        </td>
                        <td data-title="ACC BY" class="preview">
                            WAWAN SOLIHIN / IT
                        </td>
                        <td data-title="ACC AT" class="preview">
                            Rabu, 24-08-2016
                        </td>
                        <td data-title="ACC ITEM" class="preview">
                            4 ITEM
                        </td>
                        <td data-title="ACC TOTAL" class="preview">
                            Rp. 12.000.000
                        </td>
                        <td data-title="APROVER" class="preview">
                            PITER NOVIAN / IT
                        </td>
                        <td data-title="APROVE AT" class="preview">
                            Kamis, 25-08-2016
                        </td>
                        <td data-title="STS APROVE" class="preview">
                            <a class="btn btn-danger btn-sm" href="#/complete/3">
                              <i class="fa fa-edit"></i> &nbsp;REJECT
                            </a>
                        </td>
                        <td data-title="DETAIL" class="preview">
                            <a class="btn btn-success btn-sm" href="#/complete/1">
                              <i class="fa fa-edit"></i> &nbsp;View Detail
                            </a>
                        </td>
                    </tr>
                </tbody>
               </table>
            </div>
         </div>
        </div>
      </div>
    </section>
</div>

<div ng-include="'angular/partial/foottemplate.html'"></div>
