<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header bg-aqua">
                        MGR APROVE 
                    </div>
                    <div class="panel-body" id="no-more-tables">
                            <table class="table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th class="numeric">#</th>
                                    <th class="numeric">NO.REQUEST ORDER</th>
                                    <th class="numeric">REQUEST ORDER BY</th>
                                    <th class="numeric">REQUEST ORDER DATE</th>
                                    <th class="numeric">REQUEST ACC BY</th>
                                    <th class="numeric">REQUEST ACC DATE</th>
                                    <th class="numeric">JUMLAH ITEM</th>
                                    <th class="numeric">TOTAL HARGA</th>
                                    <th class="numeric">STATUS</th>
                                    <th class="numeric">DETAIL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="NO." class="preview">
                                        1
                                    </td>
                                    <td data-title="NO RESI" class="preview">
                                        RO.2016.08.22.001
                                    </td>
                                    <td data-title="CREATOR" class="preview">
                                        RADUMTA SITEPU / IT
                                    </td>
                                    <td data-title="CREATE AT" class="preview">
                                        22-08-2016 17:00
                                    </td>
                                    <td data-title="ACCOR" class="preview">
                                        WAWAN ADETYA / IT
                                    </td>
                                    <td data-title="ACC AT" class="preview">
                                        23-08-2016 17:00
                                    </td>
                                    <td data-title="ACC/ORI" class="preview">
                                        3/5</td>
                                    <td data-title="TOTAL" class="preview">
                                        Rp 5.000.000
                                    </td>
                                    
                                    <td data-title="STATUS" class="preview">
                                        <a class="btn btn-success btn-sm bg-aqua">
                                          <i class="fa fa-edit"></i> &nbsp;New Aproval
                                        </a>
                                    </td>
                                    <td data-title="DETAIL" class="preview">
                                        <a class="btn btn-success btn-sm" href="#/mgraprove/1">
                                          <i class="fa fa-eye"></i> &nbsp;View Detail
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                       </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div ng-include="'angular/partial/foottemplate.html'"></div>
