<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper">
    <section class="content">
<!--         <span data-ng-show="loading" us-spinner="{radius:30, width:8, length: 16}"></span> -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header bg-aqua">
                RO Item 
            </div>
            <div class="box-body">
               <table>
                <thead>
                  <tr>
                    <th class="numeric">NM BRG</th>
                    <th class="numeric">NAMA TYPE</th>
                    <th class="numeric">NAMA KATEGORI</th>
                    <th class="numeric">NAMA UNIT</th>
                    <th class="numeric">JUMLAH</th>
                    <th class="numeric">E/D</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="barangumum in keranjangbelanja | filter: {NM_BARANG:apasaja, KD_UNIT: unit || undefined, KD_TYPE:type || undefined,KD_KATEGORI:kategori || undefined} as filtered" 
                    class="repeat-item">
                        <td data-title="NM" class="preview">
                            <a href="javascript:;">
                              {{barangumum.NM_BARANG}}
                            </a>
                        </td>
                        <td data-title="TYPE" class="preview">
                            <a href="javascript:;">
                                {{barangumum.type.NM_TYPE}} 
                            </a>
                        </td>
                        <td data-title="CAT" class="preview">
                            <a href="javascript:;">
                                {{barangumum.kategori.NM_KATEGORI}}
                            </a>
                        </td>
                        <td data-title="UNT" class="preview">
                            <a href="javascript:;">
                                {{barangumum.unit.NM_UNIT}}
                            </a>
                        </td>
                        <td data-title="JLH" class="preview">
                            <!-- <a href="#/product/{{barangumum.ID}}/delete"><i class="fa fa-trash fa-2x"></i></a> -->
                            <a href="javascript:;">
                                {{barangumum.jumlahorder}}
                            </a>
                        </td>
                        <td data-title="EDI" class="preview">
                            <!-- <a href="#/product/{{barangumum.ID}}/delete"><i class="fa fa-trash fa-2x"></i></a> -->
                            <a href="javascript:;" ng-click="edit(barangumum)" style="padding-right:50px">
                                <i class="fa fa-refresh fa-2x"></i>
                            </a>
                            <a href="javascript:;" ng-click="delete(barangumum)" style="float:right;padding-right:15px">
                                <i class="fa fa-trash-o fa-2x"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
               </table>
                
             </div>
           </div>
            <div class="box-footer">
               <a href="#/newro" class="btn pull-left btn-lg btn-default" id="sendEmail">
                <i class="fa fa-arrow-circle-left"></i>
                 Cont
              </a>
              <a href="#/setharga" class="btn pull-right btn-lg btn-default" id="sendEmail" ng-if="keranjangbelanja.length">
                Set Harga <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>

        </div>
      </div>
    </section>
</div>

<div ng-include="'angular/partial/foottemplate.html'"></div>
