<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper">
    <section class="content">
        <span data-ng-show="loading" us-spinner="{radius:30, width:8, length: 16}"></span>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header bg-aqua">
                RO PROGRESS 
            </div>
            <div class="panel-body" id="no-more-tables">
               <table class="table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th class="numeric">#</th>
                        <th class="numeric">RESI RO</th>
                        <th class="numeric">CREATE AT</th>
                        <th class="numeric">CREATOR</th>
                        <th class="numeric">ITEM</th>
                        <th class="numeric">STATUS</th>
                        <th class="numeric">ACTIONS</th>
                        <th class="numeric">DETAIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="NO." class="preview">
                            1
                        </td>
                        <td data-title="NO.RESI" class="preview">
                            RO.2016.08.22.001
                        </td>
                        <td data-title="CREATE AT" class="preview">
                            Senin, 22-08-2016
                        </td>
                        <td data-title="CREATOR" class="preview">
                            RADUMTA SITEPU / IT
                        </td>
                        
                        <td data-title="ITEM" class="preview">
                            5 Item
                        </td>
                        <td data-title="TOTAL" class="preview">
                            Rp. 25.000.000
                        </td>
                        <td data-title="ACC ACT" class="preview">
                            <a class="btn btn-danger btn-sm">
                              <i class="fa fa-edit"></i> &nbsp;Waiting ACC
                            </a>
                        </td>
                        <td data-title="TELP" class="preview">
                            <a class="btn btn-danger btn-sm">
                              <i class="fa fa-phone"></i> &nbsp;Call
                            </a>
                        </td>
                        <td data-title="DETAIL" class="preview">
                            <a class="btn btn-success btn-sm" href="#/progress/1">
                              <i class="fa fa-edit"></i> &nbsp;View Detail
                            </a>
                        </td>
                    </tr>
                </tbody>
               </table>
            </div>
           </div>
        </div>
      </div>
    </section>
</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>
