<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper">
    <section class="content">
        <span data-ng-show="loading" us-spinner="{radius:30, width:8, length: 16}"></span>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header bg-aqua">
                MGR APROVE 
            </div>
            <div class="box-body">
               <table>
                <thead>
                  <tr>
                    <th class="numeric">NM BRG</th>
                    <th class="numeric">NAMA TYPE</th>
                    <th class="numeric">NAMA KATEGORI</th>
                    <th class="numeric">NAMA UNIT</th>
                    <th class="numeric">ORI JLH</th>
                    <th class="numeric">ORI HRG</th>
                    <th class="numeric">ACC JLH</th>
                    <th class="numeric">ACC HRG</th>
                    <th class="numeric" ng-if="statusrevisiacc == false">CALL ACC</th>
                    <th class="numeric" ng-if="statusrevisimgr == false && statusrevisiacc == true">WAIT/CALL</th>
                    <th class="numeric">Total</th>
                    <th class="numeric">ACP/RJC</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="barangumum in progress | filter: {NM_BARANG:apasaja, KD_UNIT: unit || undefined, KD_TYPE:type || undefined,KD_KATEGORI:kategori || undefined} as filtered" 
                    class="repeat-item">
                        <td data-title="NM" class="preview">
                            <a href="javascript:;">
                              {{barangumum.NM_BARANG}}
                            </a>
                        </td>
                        <td data-title="TYPE" class="preview">
                            <a href="javascript:;">
                                {{barangumum.type.NM_TYPE}} 
                            </a>
                        </td>
                        <td data-title="CAT" class="preview">
                            <a href="javascript:;">
                                {{barangumum.kategori.NM_KATEGORI}}
                            </a>
                        </td>
                        <td data-title="UNT" class="preview">
                            <a href="javascript:;">
                                {{barangumum.unit.NM_UNIT}}
                            </a>
                        </td>
                        <td data-title="JLH">
                                {{barangumum.jumlahorder}}
                        </td>
                        <td data-title="EDI">
                            {{barangumum.harga|number}} 
                        </td>

                        <!-- Awal dari ACC -->
                        <td data-title="EDI" class="preview"  ng-if="barangumum.revisijumlah != 0 && statusrevisiacc == true">
                            {{barangumum.revisijumlah|number}} 
                        </td>
                        <td data-title="EDI" class="preview"  ng-if="barangumum.revisijumlah == 0 && statusrevisiacc == true">
                            <a class="btn btn-warning btn-sm">
                              <i class="fa fa-edit"></i> &nbsp;Not Set
                            </a> 
                        </td>
                        <td data-title="EDI" class="preview"  ng-if="barangumum.revisijumlah == 0 && statusrevisiacc == false">
                            <a class="btn btn-warning btn-sm">
                              <i class="fa fa-edit"></i> &nbsp;Waiting ACC
                            </a> 
                        </td>

                        <td data-title="EDI" class="preview"  ng-if="barangumum.revisiharga != 0 && statusrevisiacc == true">
                            {{barangumum.revisiharga|number}} 
                        </td>
                        <td data-title="EDI" class="preview"  ng-if="barangumum.revisiharga == 0 && statusrevisiacc == true">
                            <a class="btn btn-warning btn-sm">
                              <i class="fa fa-edit"></i> &nbsp;Not Set
                            </a> 
                        </td>
                        <td data-title="EDI" class="preview"  ng-if="barangumum.revisiharga == 0 && statusrevisiacc == false">
                            <a class="btn btn-warning btn-sm">
                              <i class="fa fa-edit"></i> &nbsp;Waiting ACC
                            </a> 
                        </td>

                        <td data-title="EDI" class="preview" ng-if="statusrevisimgr == false && statusrevisiacc == false">
                            <a class="btn btn-success btn-sm">
                              <i class="fa fa-phone"></i> &nbsp;Call ACC
                            </a> 
                        </td>
                        <td data-title="EDI" class="preview" ng-if="statusrevisimgr == false && statusrevisiacc == true">
                            <a class="btn btn-success btn-sm">
                              &nbsp;Waiting MGR
                            </a>
                            <a class="btn btn-success btn-sm">
                              <i class="fa fa-phone"></i> &nbsp;MGR
                            </a> 
                        </td>

                        <td data-title="EDI" class="preview">
                            <span style="float:left">Rp.</span>
                            <span style="float:right">{{barangumum.subtotal| number}}</span>
                        </td>
                        <td class="preview">
                            <a class="btn btn-success btn-sm" ng-if="barangumum.statusaprove == 'accept' " >
                              <i class="fa fa-check"></i> Accept
                            </a>
                            <a class="btn btn-danger btn-sm" ng-if="barangumum.statusaprove == 'rejected' " >
                              <i class="fa fa-times"></i> Rejected
                            </a>
                        </td>

                    </tr>
                    <tr class="bg-success">
                      <td colspan="8" class="preview" ng-if="statusrevisiacc == true">Total</td>
                      <td colspan="9" class="preview" ng-if="statusrevisiacc == false">Total</td>
                      <td class="preview">
                        <span style="float:left">Rp.</span>
                        <span style="float:right">{{totalharga|number}}</td>
                    </tr>
                </tbody>
               </table>
             </div>
           </div>
        </div>
      </div>
    </section>
</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>
