<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12" >
            <div class="info-box bg-green">
              <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
              <div class="info-box-content">
                <span class="info-box-text" style="cursor:pointer" ng-click="newcustomer()"><h3>NEW CUSTOMER</h3></span>
              </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12" >
            <div class="info-box bg-green">
              <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
              <div class="info-box-content">
                <span class="info-box-text" style="cursor:pointer" ng-click="viscustomer()"><h3>CUSTOMER VISIT</h3></span>
              </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12" >
            <div class="info-box bg-green">
              <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
              <div class="info-box-content">
                <span class="info-box-text" style="cursor:pointer" ng-click="mapcustomer()"><h3>CUSTOMER MAP</h3></span>
              </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12" >
            <div class="info-box bg-green">
              <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
              <div class="info-box-content">
                <span class="info-box-text" style="cursor:pointer" ng-click="reportase()"><h3>REPORTASE</h3></span>
              </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12" >
            <div class="info-box bg-green">
              <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
              <div class="info-box-content">
                <span class="info-box-text" style="cursor:pointer" ng-click="profile()"><h3>PROFILE</h3></span>
              </div>
            </div>
        </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div ng-include="'angular/partial/foottemplate.html'"></div>
 