
<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper" >
    <section class="content">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-3">
            <div class="ih-item circle effect1"><a href="javascript:;" ng-click="chat()">
                <div class="spinner"></div>
                <div class="img"><img src="asset/admin/dist/img/chat.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <h3>Lets Chit Chat</h3>
                  </div>
                </div></a></div>
          </div>
         
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-3">
            <div class="ih-item circle colored effect1"><a href="javascript:;" ng-click="telepon()">
                <div class="spinner"></div>
                <div class="img"><img src="asset/admin/dist/img/telepon.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <h3>Let's Talk</h3>
                  </div>
                </div></a></div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12"><p><br></p><p></p><p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-3">
              <div class="ih-item circle effect2 left_to_right"><a href="javascript:;" ng-click="chat()">
                  <div class="img"><img src="asset/admin/dist/img/telepon.png" alt="img"></div>
                  <div class="info">
                    <h3>Heading here</h3>
                    <p>Description goes here</p>
                  </div></a></div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-3">
              <div class="ih-item circle effect2 left_to_right"><a href="javascript:;" ng-click="telepon()">
                  <div class="img"><img src="asset/admin/dist/img/telepon.png" alt="img"></div>
                  <div class="info">
                    <h3>Heading here</h3>
                    <p>Description goes here</p>
                  </div></a></div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12"><p><br></p><p></p><p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-3">
              <div class="ih-item circle effect2 left_to_right"><a href="javascript:;" ng-click="chat()">
                  <div class="img"><img src="asset/admin/dist/img/telepon.png" alt="img"></div>
                  <div class="info">
                    <h3>Heading here</h3>
                    <p>Description goes here</p>
                  </div></a></div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-3">
              <div class="ih-item circle effect2 left_to_right"><a href="javascript:;" ng-click="telepon()">
                  <div class="img"><img src="asset/admin/dist/img/telepon.png" alt="img"></div>
                  <div class="info">
                    <h3>Heading here</h3>
                    <p>Description goes here</p>
                  </div></a></div>
          </div>
        </div>

    </section>

</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>