
<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
              <div class="col-md-12">
                <div class="box box-danger">
                  <div class="box-header">
                    <h3 class="box-title">Create New Customer</h3>
                  </div>
                  <form name="customerForm" ng-submit="submitForm(customer)" method="post" novalidate>
                  <div class="box-body" >
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border">Set Customer Position</legend>
                        <div class="form-group" ng-class="{'has-error':customerForm.CUST_KD.$invalid && !customerForm.CUST_KD.$pritine,'has-success':customerForm.CUST_KD.$valid}">
                          <label>List Customer</label>
                          <select class="form-control" ui-select2="select2Options" name="CUST_KD" style="width: 100%;" data-allow-clear="true" ng-model="customer.CUST_KD" ng-change="customerchange()" ng-required="true">
                            <option value=""></option>
                            <option ng-repeat="customer in customers" value="{{customer.CUST_KD}}">
                              {{customer.CUST_NM}}
                            </option>
                          </select>
                        </div>
                    </fieldset>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer clearfix">
                    <a href="javascript::;" class="btn btn-sm btn-danger btn-flat pull-left">Cancel</a>
                    <button type="submit" ng-disabled="customerForm.$invalid" class="btn btn-sm btn-success btn-flat pull-right">Set Customer Position</button>
                  </div>
                </div>
              </form>
                <!-- /.box -->
              </div>
              <!-- /.col (left) -->
            </div>

        <div class="row">
          <div class="col-md-12 col-sm-6 col-xs-12" >
            <ng-map zoom="22" center="{{lat}},{{long}}" style="display:block; width:100%; height:700px">
                <marker  position="{{lat}}, {{long}}" draggable="true" icon='http://google-maps-icons.googlecode.com/files/factory.png' 
                ></marker>
            </ng-map>
          </div>
        </div>
    </section>
</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>