<!-- <script src="asset/js/app.min.js"></script>
<script src="asset/js/dropdown-x.js"></script>
<script src="asset/js/sidenav.js"></script> -->
<header class="main-header">
    <a class="logo bg-red">
        <img src="http://lukisongroup.com/favicon.ico" width="30px" alt=""> &nbsp;Lukison Group
    </a>
    <nav class="navbar navbar-static-top">
      <a href="javasript:;" class="sidebar-toggle" ng-click="toggleMenu()" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle Navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a ng-click="logout()" style="cursor: pointer;" data-method="post"><i class="fa fa-power-off"></i></a>
          </li>
<!--           <li>
            <a href="javascript:;" class="sidebar-toggle" ng-click="toggleMenuKanan()" data-toggle="control-sidebar">
            </a>
          </li> -->
        </ul>
      </div>

    </nav>
</header>


