<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper">
    <section class="content">
<!--         <span data-ng-show="loading" us-spinner="{radius:30, width:8, length: 16}"></span> -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-danger">
            <div class="panel-heading bg-aqua">
                Products List  
            </div>
            <div class="panel-body">
                <a class="btn btn-success" href="#/product/new">
                    <i class="fa fa-plus"></i>
                </a>
                <a ng-click="checkall()" style="cursor:pointer" class="btn btn-warning">
                    {{chekuncek}}
                </a>
                <a class="btn btn-danger" ng-click="bulkdelete()" ng-show="deletebutton" style="cursor:pointer;float:right">
                    <i class="fa fa-trash-o"></i>
                </a>

            </div>
            <div class="panel-body">
               <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="numeric">ID</th>
                    <th class="numeric">KD BRG</th>
                    <th class="numeric">NM BRG</th>
                    <th class="numeric">NAMA TYPE</th>
                    <th class="numeric">NAMA KATEGORI</th>
                    <th class="numeric">NAMA UNIT</th>
                    <th class="numeric">KD SUP</th>
                    <th class="numeric">KD CORP</th>
<!--                     <th class="numeric">KD CAB</th> -->
<!--                     <th>HPP</th>
                    <th>HARGA</th>
                    <th>BARCODE</th>
                    <th>KD DEP</th>
                    <th>IMAGE</th>
                    <th>NOTE</th> -->
                    <th class="numeric">STATUS</th>
                    <th class="numeric">EDIT/DELETE</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="barangumum in products" class="repeat-item" ng-class="{'bg-aqua' : tableSelection[$index]}">
                        <td data-title="All" class="numeric">
                            <input type="checkbox" ng-model="tableSelection[$index]"/>
                        </td>
                        <td data-title="ID" class="numeric">
                            <a href="#/product/{{barangumum.ID}}">
                                {{barangumum.ID}}
                            </a>
                        </td>
                        <td data-title="KD" class="numeric">
                            <div class="item-wrapper">
                              <a href="#/product/{{barangumum.ID}}">
                                {{barangumum.KD_BARANG}}
                              </a>
                            </div>
                        </td>
                        <td data-title="NM" class="numeric">
                            <a href="#/product/{{barangumum.ID}}">
                              {{barangumum.NM_BARANG}}
                            </a>
                        </td>
                        <td data-title="TYPE" class="numeric">
                            <a href="#/erp/masterbarang/detail/tipebarang/{{barangumum.type.ID}}" 
                            editable-select="barangumum.type.ID" e-ng-options="t.ID as t.NM_TYPE for t in typebarangs">
                            {{barangumum.type.KD_TYPE}} {{barangumum.type.NM_TYPE}} </a>
                        </td>
                        <td data-title="CAT" class="numeric">
                            <a href="#/erp/masterbarang/detail/kategori/{{barangumum.kategori.ID}}" 
                            editable-select="barangumum.kategori.ID" e-ng-options="c.ID as c.NM_KATEGORI for c in categories">
                            {{barangumum.kategori.KD_KATEGORI}} {{barangumum.kategori.NM_KATEGORI}}</a>
                        </td>
                        <td data-title="UNT" class="numeric">
                            <a href="#/erp/masterbarang/detail/kategori/{{barangumum.kategori.ID}}" 
                            editable-select="barangumum.kategori.ID" e-ng-options="c.ID as c.NM_KATEGORI for c in categories">{{barangumum.unit.KD_UNIT}} {{barangumum.unit.NM_UNIT}}</a>
                        </td>
                        <td data-title="SUP" class="numeric" ng-if="barangumum.KD_SUPPLIER != null">
                            {{barangumum.KD_SUPPLIER}}
                        </td>
                        <td data-title="SUP" class="numeric" ng-if="barangumum.KD_SUPPLIER == null">
                            <a class="btn btn-danger btn-xs">
                              <i class="fa fa-edit"></i> &nbsp;NOT SET
                            </a>
                        </td>
                        
                        <td data-title="CORP" class="numeric">{{barangumum.KD_CORP}}</td>
                        <td data-title="STS" ng-if='barangumum.STATUS === 1' >
                            <a class="btn btn-success btn-xs"><i class="fa fa-edit"></i> &nbsp;Enable</a>
                        </td>
                        <td data-title="STS" ng-if='barangumum.STATUS === 0 || barangumum.STATUS === 3' >
                            <a class="btn btn-danger btn-xs"><i class="fa fa-edit"></i> &nbsp;Disable</a> 
                        </td>
                        <td data-title="EDIT" class="numeric">
                            <a href="#/product/{{barangumum.ID}}/edit" style="padding-right:50px">
                                <i class="fa fa-refresh fa-2x"></i>
                            </a>
                            <a href="javascript:;" ng-click="deleteproduct(barangumum)" style="float:right;padding-right:15px">
                                <i class="fa fa-trash fa-2x"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
               </table>
                
             </div>
<!--              <div class="panel-body">
                 <table>
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Company</th>
                            <th class="numeric">Price</th>
                            <th class="numeric">Change</th>
                            <th class="numeric">Change %</th>
                            <th class="numeric">Open</th>
                            <th class="numeric">High</th>
                            <th class="numeric">Low</th>
                            <th class="numeric">Volume</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Code">AAC</td>
                            <td data-title="Company">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                            <td data-title="Price" class="numeric">$1.38</td>
                            <td data-title="Change" class="numeric">-0.01</td>
                            <td data-title="Change %" class="numeric">-0.36%</td>
                            <td data-title="Open" class="numeric">$1.39</td>
                            <td data-title="High" class="numeric">$1.39</td>
                            <td data-title="Low" class="numeric">$1.38</td>
                            <td data-title="Volume" class="numeric">9,395</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
           </div>

        </div>
      </div>
    </section>
</div>

<div ng-include="'angular/partial/foottemplate.html'"></div>
