<div class="row">
  <div class="col-md-12">
  <!-- for flashMessage in app.session.flashbag.get('notice') -->
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">    &times;
      </button>
      <h4>SPG HOME</h4>
    </div>
  <!-- endfor flashMessage -->
  </div>
</div>

<div class="row">
      <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4">
        <div id="w3">
          <div class="panel panel-warning">
            <div class="panel-heading"><b>DATA PROSESS</b></div>
            <div class="list-group">
              <a class="list-group-item" href="#/spg/stockgudang"><span class="badge">0</span>Stock Gudang</a>
              <a class="list-group-item" href="#/spg/stockpromo"><span class="badge">0</span>Stock Promo</a>
              <a class="list-group-item" href="#/spg/penjualan"><span class="badge">0</span>Penjualan</a>
              <a class="list-group-item" href="#/spg/penjualanpromo"><span class="badge">0</span>Promo</a>
            </div>
          </div>
        </div>      
      </div>

      <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4"> 
        <div class="panel panel-warning">
            <div class="panel-heading"><b>WIDGET</b></div>
            <div class="list-group">
              <a class="list-group-item" href="#/spg/jadwalkunjungan"><span class="badge">0</span>Jadwal Kunjungan</a>
              <a class="list-group-item" href="#/spg/petacustomer"><span class="badge">0</span>Peta Customer</a>
              <a class="list-group-item" href="#/spg/absensi"><span class="badge">0</span>Absensi</a>
              <a class="list-group-item" href="#/spg/profile"><span class="badge">0</span>Profile</a>
            </div>
        </div>      
      </div>

      <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4">
        <div class="panel panel-warning">
          <div class="panel-heading"><b>REPORTING</b></div>
          <div class="list-group">
            <a class="list-group-item" href="#/spg/produk"><span class="badge">0</span>Prodak</a>
            <a class="list-group-item" href="#/spg/penjualanharian"><span class="badge">0</span>Penjualan Harian</a>
            <a class="list-group-item" href="#/spg/penjualanbulanan"><span class="badge">0</span>Penjualan Bulanan</a>
            <a class="list-group-item" href="#/spg/penjualantahunan"><span class="badge">0</span>Penjualan perTahun</a>
          </div>
        </div>        
      </div>
</div>