<div class="row">
  <div class="col-md-12">
  <!-- for flashMessage in app.session.flashbag.get('notice') -->
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">    &times;
      </button>
      <h4>SALESMAN TIPS</h4>
    </div>
  <!-- endfor flashMessage -->
  </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4">
      <div class="panel panel-info">
        <div class="panel-heading"><b>DATA TIPS</b></div>
        <div class="list-group"><a class="list-group-item" href="newcustomer.html"><span class="badge">0</span>New Customer</a>
          <a class="list-group-item" href="penjualan.html"><span class="badge">0</span>Selling Out Maintain</a>
          <a class="list-group-item" href=""><span class="badge">0</span>Stock Maintain</a>
          <a class="list-group-item" href=""><span class="badge">0</span>SalasPromotion Maintain</a>
        </div>
      </div>      
    </div>
    <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4">
      <div class="panel panel-info">
          <div class="panel-heading"><b>WIDGET TIPS</b></div>
          <div class="list-group"><a class="list-group-item" href=""><span class="badge">0</span>Jadwal Kunjungan</a>
            <a class="list-group-item" href=""><span class="badge">0</span>Peta Customer</a>
            <a class="list-group-item" href=""><span class="badge">0</span>Absensi</a>
            <a class="list-group-item" href=""><span class="badge">0</span>Profile</a>
          </div>
      </div>      
    </div>
    <div class="col-xs-12 col-sm-6 col-dm-4  col-lg-4">
      <div class="panel panel-info">
        <div class="panel-heading"><b>REPORTING TIPS</b></div>
        <div class="list-group"><a class="list-group-item" href=""><span class="badge">0</span>Daily Selling Out</a>
          <a class="list-group-item" href=""><span class="badge">0</span>Daily Stock Harian</a>
          <a class="list-group-item" href=""><span class="badge">0</span>monthly Selling Out</a>
          <a class="list-group-item" href=""><span class="badge">0</span>monthly Stock Harian</a>
        </div>
      </div>        
    </div>
</div>