<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/erp/masterbarang/menukiri.html'"></div>
<div class="content-wrapper">
<section class="content">
  <div class="row" >
    <div class="col-md-12">
      <div class="panel panel-danger" style="margin:12px;box-shadow:0 3px 25px black;">
        <div class="panel-heading">List Customer</div>
        <div class="panel-body">
            <a class="btn btn-warning" href="#/erp/masterbarang/new/customer">
                <i class="fa fa-plus"></i> Add Customer 
            </a>
        </div>
        <div class="panel-body table-responsive">
           <table class="table table-hover table-striped table-bordered">
            <thead>
            </thead>
            <tbody>
              <tr ng-repeat="customer in customers" context-menu="menuOptions">
                <!-- <td>{{customer.CUST_ID}}</td> -->
                <!-- <td>{{unitbarang.KD_UNIT}}</td> -->
                <!-- <td>{{customer.CUST_KD_ALIAS}}</td> -->
                <td>{{customer.CUST_NM}}</td>
                <td>{{customer.katparents.CUST_KTG_NM}}</td>
                <td>{{customer.kats.CUST_KTG_NM}}</td>
                <td>{{customer.JOIN_DATE}}</td>
                <td>{{customer.MAP_LAT}}</td>
                <td>{{customer.MAP_LNG}}</td>
                <td>{{customer.KD_DISTRIBUTOR}}</td>
<!--                 <td>{{customer.PIC}}</td>
                <td>{{customer.ALAMAT}}</td>
                <td>{{customer.TLP1}}</td>
                <td>{{customer.TLP2}}</td>
                <td>{{customer.FAX}}</td>
                <td>{{customer.EMAIL}}</td>
                <td>{{customer.WEBSITE}}</td>
                <td>{{customer.NOTE}}</td>
                <td>{{customer.NPWP}}</td> -->
                <td>{{customer.STT_TOKO}}</td>
                <!-- <td>{{customer.DATA_ALL}}</td> -->
                <td>{{customer.CAB_ID}}</td>
                <td>{{customer.CORP_ID}}</td>
                <!-- <td>{{customer.EMAIL}}</td> -->
                
                <td ng-if='customer.STATUS === 1' >AKTIF </td>
                <td ng-if='customer.STATUS === 0' >TIDAK AKTIF </td>
              </tr>
            </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.content -->
</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>

