/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 35%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
/*    td:nth-of-type(1):before { content: "First Name"; }
    td:nth-of-type(2):before { content: "Last Name"; }
    td:nth-of-type(3):before { content: "Job Title"; }
    td:nth-of-type(4):before { content: "Favorite Color"; }
    td:nth-of-type(5):before { content: "Wars of Trek?"; }
    td:nth-of-type(6):before { content: "Porn Name"; }
    td:nth-of-type(7):before { content: "Date of Birth"; }
    td:nth-of-type(8):before { content: "Dream Vacation City"; }
    td:nth-of-type(9):before { content: "GPA"; }
    td:nth-of-type(10):before { content: "Arbitrary Data"; }*/

    .numeric:nth-of-type(1):before { content: "All"; }
    .numeric:nth-of-type(2):before { content: "ID"; }
    .numeric:nth-of-type(3):before { content: "KD BARANG"; }
    .numeric:nth-of-type(4):before { content: "NM BARANG"; }
    .numeric:nth-of-type(5):before { content: "TYPE BARANG"; }
    .numeric:nth-of-type(6):before { content: "KATEGORI"; }
    .numeric:nth-of-type(7):before { content: "UNIT BARANG"; }
    .numeric:nth-of-type(8):before { content: "KD SUPLIER"; }
    .numeric:nth-of-type(9):before { content: "KD CORP"; }
    .numeric:nth-of-type(10):before { content: "STATUS"; }
    .numeric:nth-of-type(11):before { content: "EDIT"; }
    .numeric:nth-of-type(12):before { content: "DELETE"; }

/*    .request:nth-of-type(1):before { content: "KD"; }*/
    .request:nth-of-type(1):before { content: "NAMA"; }
    .request:nth-of-type(2):before { content: "TYPE"; }
    .request:nth-of-type(3):before { content: "KATEGORI"; }
    .request:nth-of-type(4):before { content: "UNIT"; }
    .request:nth-of-type(5):before { content: "SHOP"; }

    .preview:nth-of-type(1):before { content: "NAMA"; }
    .preview:nth-of-type(2):before { content: "TYPE"; }
    .preview:nth-of-type(3):before { content: "KATEGORI"; }
    .preview:nth-of-type(4):before { content: "UNIT"; }
    .preview:nth-of-type(5):before { content: "JUMLAH"; }

    .category:nth-of-type(1):before { content: "NAMA"; }
    .category:nth-of-type(2):before { content: "CORP"; }
    .category:nth-of-type(3):before { content: "STATUS"; }
    .category:nth-of-type(4):before { content: "ACTION"; }

    .types:nth-of-type(1):before { content: "NAMA"; }
    .types:nth-of-type(2):before { content: "STATUS"; }
    .types:nth-of-type(3):before { content: "ACTION"; }

    .supliers:nth-of-type(1):before { content: "SUPLIERS"; }
    .supliers:nth-of-type(2):before { content: "ALM"; }
    .supliers:nth-of-type(3):before { content: "KOTA"; }
    .supliers:nth-of-type(4):before { content: "TLP"; }
    .supliers:nth-of-type(5):before { content: "HP"; }
    .supliers:nth-of-type(6):before { content: "EML"; }
    .supliers:nth-of-type(7):before { content: "STS"; }
}