<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>

<div class="content-wrapper">
  <span data-ng-show="loadingcontent" us-spinner="{radius:30,width:8,length:16,position:'fixed'}"></span>
  <section class="content">
    <div class="row" ng-if="customers.length > 0">
      <div ng-cloack class="tabsdemoStaticTabs">
        <md-content class="md-padding">
          <md-tabs md-dynamic-height md-border-bottom md-selected="data.selectedIndex" class="md-accent">
            <md-tab id="tab1">
              <md-tab-label>LIST CUSTOMER </md-tab-label>
              <md-tab-body>
                  <md-list>
                    <md-list-item class="noright" ng-repeat="customer in customers | orderBy: 'JARAK' " ng-click="detailjadwalkunjungan(customer)">
                        <img  ng-src="{{customer.imagecheckout}}" class="md-avatar" />
                        <p>
                          <a>
                            {{customer.CUST_NM}}  ({{customer.JARAKMETER }})
                          </a>
                          <md-progress-linear md-mode="determinate"  value="{{customer.persen}}"></md-progress-linear>
                        </p>
                    </md-list-item>
                  </md-list>
              </md-tab-body>
            </md-tab>

            <md-tab id="tab2">
              <md-tab-label>MAP</md-tab-label>
              <md-tab-body>
                  <ng-map zoom="11" center="-6.229337,106.6585016" style="display:block; width:100%; height:700px">
                      <marker position="{{gpslat}}, {{gpslong}}" on-click="toggleBounce()" animation="BOUNCE" draggable="false"></marker>

                      <marker ng-repeat="customer in customers" position="{{customer.MAP_LAT}}, {{customer.MAP_LNG}}"  draggable="false" icon='asset/admin/dist/img/factory.png'></marker>
                  </ng-map>
              </md-tab-body>
            </md-tab>

            <md-tab id="tab5">
              <md-tab-label>CHECK TIME</md-tab-label>
              <md-tab-body>
                  <section class="content">
                    <div class="row" >
                      <div class="col-md-12">
                        <div class="panel panel-danger">
                          <div class="panel-body table-responsive">
                             <table class="table table-hover table-striped table-bordered">
                              <thead>
                                <tr align="center">
                                  <th class="bg-aqua">NAMA CUSTOMER</th>
                                  <th class="bg-aqua">CHECK-IN TIME</th>
                                  <th class="bg-aqua">CHECK-OUT TIME</th>
                                  <th class="bg-aqua">LAMA KJGN</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="customer in customers  | orderBy: 'CHECKIN_TIME' ">
                                  <td>{{customer.CUST_NM}}</td>
                                  <td ng-if="(customer.CHECKIN_TIME != null)">{{customer.CHECKIN_TIME  }}</td>
                                  <td ng-if="(customer.CHECKIN_TIME == null)">TIDAK MELAKUKAN KUNJUNGAN</td>
                                  <td ng-if="(customer.CHECKOUT_TIME != null)">{{customer.CHECKOUT_TIME }}</td>
                                  <td ng-if="(customer.CHECKIN_TIME == null && customer.CHECKOUT_TIME == null)">
                                    TIDAK MELAKUKAN KUNJUNGAN
                                  </td>
                                  <td ng-if="(customer.CHECKIN_TIME != null && customer.CHECKOUT_TIME == null)">
                                    BELUM CHECK-OUT
                                  </td>
                                  <td>{{customer | getDiff}}</td>
                                </tr>
                              </tbody>
                             </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

              </md-tab-body>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-lg btn-block bg-purple-active"  ng-show="showbuttonoutofcase" ng-click="OutofCase()">
              CREATE OUT OF CASE
        </button>
      </div>
    </div>
  </section>
</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>
