<ion-view view-title="VISIT NOTES">
<ion-nav-bar class="bar-assertive">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-settings" ng-click="openModalMap()"></a>
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right calm-bg" type="item-text-wrap" ng-href="#/tab/visit/1">
        <img ng-src="img/adam.jpg">
        <h2 data-fittext="1" data-fittext-max="14">FU NOO Customer Satu</h2>
        <p>12:12:12</p>
        <p>Deskiripsi:</p>
        <p>
          Lorem Ipsum Dolor Si Alur.Lorem Ipsum Dolor Si Alur.
          Lorem Ipsum Dolor Si Alur.Lorem Ipsum Dolor Si Alur.
          Lorem Ipsum Dolor Si Alur.Lorem Ipsum Dolor Si Alur.
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right calm-bg" type="item-text-wrap" ng-href="#/tab/visit/1">
        <img ng-src="img/adam.jpg">
        <h2 data-fittext="1" data-fittext-max="14">FU NOO Customer Dua</h2>
        <p>12:12:12</p>
        <p>Deskiripsi:</p>
        <p>
          Lorem Ipsum Dolor Si Alur.Lorem Ipsum Dolor Si Alur.
          Lorem Ipsum Dolor Si Alur.Lorem Ipsum Dolor Si Alur.
          Lorem Ipsum Dolor Si Alur.Lorem Ipsum Dolor Si Alur.
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>