<ion-view view-title="VISIT NOTES">
<ion-nav-bar class="bar-assertive">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-compose-outline" ng-click="openModalMap()"></a>
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="has-header has-footer" padding="true">
    <form method="post" novalidate>
      <div class="button-bar">
          <label class="item item-input">
            <span class="input-label">Start</span>
            <input type="date" name="valuestart" ng-model="exampleForm.valuestart" required>
          </label>
          <label class="item item-input" ng-click="ChangeDate(exampleForm)">
            <span class="input-label" style="cursor:pointer">
              Submit
            </span>
          </label>
      </div>
    </form>

    <ion-list ng-if="datas.length > 0">
      <ion-item class="item-remove-animate item-icon-right calm-bg" type="item-text-wrap" 
          ng-repeat="item in datas | orderBy:'-CREATED_AT' " ng-href="#/tab/visit/{{item.ROAD_D}}">
        <h2 data-fittext="1" data-fittext-max="14">{{item.JUDUL}}</h2>
        <h2 data-fittext="1" data-fittext-max="14">{{item.CUSTOMER}}</h2>
        <h2 data-fittext="1" data-fittext-max="14">{{item.CASE_NM}}</h2>
        <p>{{item.CREATED_AT}}</p>
        <p>DESKRIPSI:</p>
        <p>
          {{item.CASE_NOTE}}
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-list ng-if="datas.length < 1">
      <ion-item class="item-remove-animate item-icon-right calm-bg" type="item-text-wrap">
        <h2 data-fittext="1" data-fittext-max="14">TIDAK ADA AKTIFITAS</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>