<ion-view view-title="VISIT NOTES">
<ion-nav-bar class="bar-assertive">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-compose-outline" ng-click="openModalMap()"></a>
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="has-header has-footer" padding="true">
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right calm-bg" type="item-text-wrap" 
          ng-repeat="item in datas" ng-href="#/tab/visit/{{item.ROAD_D}}">
        <h2 data-fittext="1" data-fittext-max="14">{{item.JUDUL}}</h2>
        <h2 data-fittext="1" data-fittext-max="14">{{item.CUSTOMER}}</h2>
        <h2 data-fittext="1" data-fittext-max="14">{{item.CASE_NM}}</h2>
        <p>{{item.CREATED_AT}}</p>
        <p>DESKRIPSI:</p>
        <p>
          {{item.CASE_NOTE}}
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>