<style>
.widget-clock .digital {
     text-align: left; 
     font-size: 4px;
}
</style>
<div ng-include="'angular/partial/headtemplate.html'"></div>
<div ng-include="'angular/partial/homemenu.html'"></div>
<div class="content-wrapper" >
    <section class="content">
      <div class="row">
          <div class="col-md-6">
            <div class="box box-widget">
              <div class="box-header with-border">
                <div class="user-block">
                  <img class="img-circle" src="asset/admin/dist/img/user2-160x160.jpg" alt="User Image">
                  <span class="username"><a href="#">PEMBUAT BA</a></span>
                  <span class="description">URGENT @23-08-2016</span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body" compile="memo.ISI_MESSAGES ">
                Terkait Dengan Apa Yang Harus Dilakukan Dengan Segera Bentuk Tim Pansus Untuk Menangani Hal Ini.
                <p>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Close</button>
                  <span class="pull-right text-muted">45 likes - 2 comments</span>
                </p>
              </div>

              <div class="box-footer box-comments">
                <div class="box-comment">
                  <img class="img-circle img-sm" src="asset/admin/dist/img/user2-160x160.jpg" alt="User Image">

                  <div class="comment-text">
                        <span class="username">
                          Maria Gonzales
                          <span class="text-muted pull-right">8:03 PM Today</span>
                        </span>
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                  </div>
                  
                </div>
                <div class="box-comment">
                  
                  <img class="img-circle img-sm" src="asset/admin/dist/img/user2-160x160.jpg" alt="User Image">

                  <div class="comment-text">
                        <span class="username">
                          Nora Havisham
                          <span class="text-muted pull-right">8:02 PM Today</span>
                        </span>
                    The point of using Lorem Ipsum is that it has a more-or-less
                    normal distribution of letters, as opposed to using
                    'Content here, content here', making it look like readable English.
                  </div>
                  
                </div>
                
              </div>

              
            </div>

          </div>

      </div>
    </section>

</div>
<div ng-include="'angular/partial/foottemplate.html'"></div>