<ion-view view-title="NOTIFIKASI">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right calm-bg" type="item-text-wrap">
        <img ng-src="img/S.jpg">
        <h2>New Customer: Toko Belinda Ditambahkan Oleh Radumta Sitepu</h2>
        <p>30 Menit Yang Lalu</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right calm-bg" type="item-text-wrap">
        <img ng-src="img/S.jpg">
        <h2>New Customer: Toko Belinda I Ditambahkan Oleh Radumta Sitepu</h2>
        <p>30 Menit Yang Lalu</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="img/S.jpg">
        <h2>New Customer: Toko Belinda II Ditambahkan Oleh Wawan Suratman</h2>
        <p>30 Menit Yang Lalu</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="img/S.jpg">
        <h2>New Customer: Toko Belinda III Ditambahkan Oleh Ridwan Aja</h2>
        <p>30 Menit Yang Lalu</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="img/S.jpg">
        <h2>New Customer: Toko Belinda III Ditambahkan Oleh Ridwan Aja</h2>
        <p>30 Menit Yang Lalu</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="img/S.jpg">
        <h2>RO Maxi Chips Balado 2 Karton Toko Balinda I</h2>
        <p>30 Menit Yang Lalu</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>