<ion-tabs class=" tabs-assertive">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-android-favorite" icon-on="ion-android-favorite" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/salesman">
    <ion-nav-view name="tab-salesman"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-paper-airplane" icon-on="ion-paper-airplane" href="#/tab/visit">
    <ion-nav-view name="tab-visit"></ion-nav-view>
  </ion-tab>

<ion-tab icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/noo/new">
    <ion-nav-view name="tab-noo"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-help" icon-on="ion-help-circled" href="#/tab/issue">
    <ion-nav-view name="tab-issue"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-stats-bars" icon-on="ion-connection-bars" href="#/tab/charts/stock">
    <ion-nav-view name="tab-charts"></ion-nav-view>
  </ion-tab>
  

  <!-- <ion-tab icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/notif">
    <ion-nav-view name="tab-notif"></ion-nav-view>
  </ion-tab> -->

  <ion-tab icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  
</ion-tabs>
