<div ng-include="'angular/partial/headtemplate.html'"></div>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-danger">
          <div class="box-header">
            <h3 class="box-title">Edit Barang Unit</h3>
          </div>
          <form ng-submit="submit" method="post">
          <div class="box-body">
            <div class="form-group">
              <label>KODE BARANG UNIT</label>
                <input type="text" class="form-control" ng-model="bukdunit" disabled>
            </div>
            <div class="form-group">
              <label>NAMA BARANG UNIT</label>
                <input type="text" class="form-control" ng-model="bunmunit">
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>QUANTITY BARANG UNIT</label>
                <input type="number" class="form-control" ng-model="buqty" min=0>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>UKURAN BARANG UNIT</label>
                <input type="number" class="form-control" ng-model="busize" min=0>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>BERAT BARANG UNIT</label>
                <input type="number" class="form-control" ng-model="buweight" min=0>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>WARNA BARANG UNIT</label>
                <input type="number" class="form-control" ng-model="bucolor" min=0>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>CATATAN BARANG UNIT</label>
                <textarea class="form-control" ng-model="bunote"></textarea>
            </div>
          </div>
          <div class="box-footer clearfix">
            <a href="javascript::;" class="btn btn-sm btn-danger btn-flat pull-left">Cancel</a>
            <button type="submit" class="btn btn-sm btn-success btn-flat pull-right">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div ng-include="'angular/partial/foottemplate.html'"></div>