<!-- <script src="asset/js/app.min.js"></script>
<script src="asset/js/dropdown-x.js"></script>
<script src="asset/js/sidenav.js"></script> -->
<header class="main-header">
    <a class="logo">
        <img src="http://lukisongroup.com/favicon.ico" width="30px" alt=""> &nbsp;Lukison Group
    </a>
    <nav class="navbar navbar-static-top">
      <a href="javasript:;" class="sidebar-toggle" ng-click="toggleMenu()" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle Navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a href="javascript:;"  style="cursor: pointer;">
              <i class="fa fa-bell-o"></i>
              <span class="label label-success"></span>
            </a>
          </li>
          <li class="dropdown messages-menu">
            <a href="#/previewro">
              <i class="fa fa-shopping-cart"></i>
              <span class="label label-success">{{jumlahitem}}</span>
            </a>
<!--             <ul class="dropdown-menu">
              <li class="header">You have {{jumlahitem}} item</li>
              <li>
                <div class="slimScrollDiv" style="position: relative; width: auto; height: auto;">
                    <ul class="menu" style="width: 100%; height: 100%; display:inline-block">
                    <li ng-repeat="keranjangbelanja in keranjangbelanja" style="width: 100%; height: 100%; display:inline-block">
                          {{keranjangbelanja.NM_BARANG}}
                          <span class="pull-right" style="padding-right:5px">
                            {{keranjangbelanja.unit.NM_UNIT}} @ {{keranjangbelanja.jumlahorder}}
                          </span>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="footer bg-aqua">
                <a href="#/previewro">Preview</a>
              </li>
            </ul> -->
          </li>
          <li>
            <a href="javascript:;"  style="cursor: pointer;" ng-click="toggleMenuKanan()" data-toggle="control-sidebar">
              <i class="fa fa-comment"></i>
            </a>
          </li>
          <li>
            <a ng-click="logout()" style="cursor: pointer;" data-method="post">
              <i class="fa fa-power-off"></i>
            </a>
          </li>
          
        </ul>
      </div>

    </nav>
</header>


