<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img data-ng-src="data:image/jpeg;base64,{{userInfo.gambar}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{userInfo.username}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header bg-red"><h4>PT. Lukison Group</h4></li>
      <li ng-class="activemenu">
        <a href="#/menu">
          <i class="fa fa-th"></i> <span>MENU</span>
        </a>
      </li>
      <li ng-class="activeinventory">
        <a href="#/inventory">
          <i class="fa fa-th"></i> <span>INVENTORY</span>
        </a>
      </li>
      <li ng-class="activechart">
        <a href="#/chart">
          <i class="fa fa-th"></i> <span>CHART</span>
        </a>
      </li>
      <li ng-class="activerequestorder">
        <a href="#/requestorder">
          <i class="fa fa-th"></i> <span>REQUEST ORDER</span>
        </a>
      </li>
    </ul>
  </section>
</aside>

<aside class="control-sidebar control-sidebar-dark" off-canvas-menu-kanan ng-class="{'control-sidebar-open':isMenuKananOpen}">
  <div class="tab-content">
    <div class="tab-pane active">
      <h3 class="control-sidebar-heading">User Chatting</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="#/chat">
            <div class="pull-left image">
              <img data-ng-src="data:image/jpeg;base64,{{userInfo.gambar}}" class="img-circle" width="30px" height="30px" alt="User Image">
            </div>

            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Piter Novian</h4>
              <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
              <i class="fa fa-circle text-success"></i> Online
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>