<div class="row">
  <div class="col-md-12">
  <!-- for flashMessage in app.session.flashbag.get('notice') -->
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">    &times;
      </button>
      <h4>SALESMAN SELLING OUT MAINTAIN</h4>
    </div>
  <!-- endfor flashMessage -->
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">Create Penjualan</h3>
      </div>
      <div class="box-body">
        <!-- Date dd/mm/yyyy -->
        <div class="form-group">
          <label>Tanggal Input:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

        <!-- phone mask -->
        <div class="form-group">
          <label>Kode Customers:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-users"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

        <!-- phone mask -->
        <div class="form-group">
          <label>Nama Customers:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

        <!-- IP mask -->
        <div class="form-group">
          <label>Kode Barang:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Nama Barang:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Stock Sold Out:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Prodak Line:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Corp ID:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Kd Distributor:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Kd Subdist:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Created By:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Updated By:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Updated Time:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Status:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-minus"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
            <div class="input-group-addon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="javascript::;" class="btn btn-sm btn-danger btn-flat pull-left">Cancel</a>
        <a href="javascript::;" class="btn btn-sm btn-success btn-flat pull-right">Submit</a>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col (left) -->
</div>