<ion-view view-title="CUSTOMER-LAYER" name="cproducts-view">

  <ion-tabs class="tabs-top tabs-assertive">
      <ion-tab title="CLG" href="#/main/customers/layergeo">
        <ion-nav-view name="customers-layergeo"></ion-nav-view>
      </ion-tab>
      <ion-tab title="NC" href="#/main/customers/newcustomers">
        <ion-nav-view name="customers-newcustomers"></ion-nav-view>
      </ion-tab>
      <ion-tab title="KJG" href="#/main/customers/kunjungan">
        <ion-nav-view name="customers-kunjungan"></ion-nav-view>
      </ion-tab>
      <ion-tab title="SLG" href="#/main/customers/stocklayergeo">
        <ion-nav-view name="customers-stocklayergeo"></ion-nav-view>
      </ion-tab>
      <ion-tab title="ROLG" href="#/main/customers/requestlayergeo">
        <ion-nav-view name="customers-requestlayergeo"></ion-nav-view>
      </ion-tab>
      <ion-tab title="ELG" href="#/main/customers/expiredlayergeo">
        <ion-nav-view name="customers-expiredlayergeo"></ion-nav-view>
      </ion-tab>
<!--       <ion-tab title="CELG" href="#/main/customers/expiredcomb">
        <ion-nav-view name="customers-expiredcomb"></ion-nav-view>
      </ion-tab> -->

      <ion-tab title="CT" href="#/main/customers/target">
        <ion-nav-view name="customers-target"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>