<ion-view view-title="LAST STOCK LAYER-GEO">
  <ion-content class="has-header has-footer" padding="true">
  		<form method="post" novalidate>
          <div class="button-bar">
              <label class="item item-input">
                <span class="input-label">Start</span>
                <input type="date" name="valuestart" ng-model="exampleForm.valuestart" required>
              </label>
              <label class="item item-input">
                <span class="input-label">End</span>
                <input type="date" name="valueend" ng-model="exampleForm.valueend" required>
              </label>
              <label class="item item-input" ng-click="SubmitForm(exampleForm)">
                <span class="input-label" style="cursor:pointer">
                  Submit
                </span>
              </label>
          </div>
        </form>
        <div id="chart-requestgeo"></div>
        <div id="chart-requestlayer"></div>
        <div id="chart-requesttotal"></div>
  </ion-content>
</ion-view>
