<div ng-include="'angular/partial/headtemplate.html'"></div>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-danger">
          <div class="panel-heading">List Kategori</div>
          <div class="panel-body">
            <a class="btn btn-warning" href="#/erp/masterbarang/new/kategori">
                <i class="fa fa-plus"></i> Add Kategori 
            </a>
          </div>
          <div class="panel-body table-responsive">
             <table class="table table-responsive table-hovered table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <!-- <th>KD KATEGORI</th> -->
                  <th>NM KATEGORI</th>
                  <th>NOTE</th>
                  <th>STATUS</th>
                  <th>DETAIL</th>
                  <th>EDIT</th>
                  <th>DELETE</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="category in categories">
                  <td>{{category.ID}}</td>
                  <!-- <td>{{category.KD_KATEGORI}}</td> -->
                  <td><a href="">{{category.NM_KATEGORI}}</a></td>
                  <td>{{category.NOTE}}</td>
                  <td ng-if='category.STATUS === 1' >AKTIF </td>
                  <td ng-if='category.STATUS === 0' >TIDAK AKTIF </td>
                  <td><a href="#/erp/masterbarang/detail/kategori/{{category.ID}}">
                    <i class="fa fa-eye fa-2x"></i></a>
                  </td>
                  <td><a href="#/erp/masterbarang/edit/kategori/{{category.ID}}">
                    <i class="fa fa-refresh fa-2x"></i></a>
                  </td>
                  <td>
                    <a href="" ng-click="deletekategori(category)">
                      <i class="fa fa-trash-o fa-2x"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
             </table>
           </div>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
  
</div><!-- /.content-wrapper -->

<div ng-include="'angular/partial/foottemplate.html'"></div>