<div ng-include="'angular/partial/headtemplate.html'"></div>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-danger">
          <div class="box-header">
            <h3 class="box-title">Create New Barang Umum</h3>
          </div>
          <form name="barangumumForm"ng-submit="submitForm(barangumum.$valid)" method="post" validate>
          <div class="box-body">
            <div class="form-group" ng-class="{ 'has-error' : barangumumForm.namaproduct.$invalid && !barangumumForm.namaproduct.$pristine }">
              <label>Nama Product</label>
                <input type="text" name="namaproduct" class="form-control" ng-model="barangumum.namaproduct" required>
                <p ng-show="barangumumForm.namaproduct.$invalid && !barangumumForm.namaproduct.$pristine" class="help-block">Nama Product Tidak Boleh Kosong.</p>
              </select>
            </div><!-- /.form-group -->
            <!-- /.form group -->
            <div class="form-group">
              <label>Kode Supplier</label>
              <select class="form-control select2" style="width: 100%;" ng-model="barangumum.suplier"required>
                <option value="" disabled selected>--Pilih Suplier--</option>
                <option ng-repeat="suplier in supliers" value="{{suplier.ID}}">{{suplier.NM_SUPPLIER}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Kode Kategori</label>
              <select class="form-control select2" style="width: 100%;" ng-model="barangumum.kategori"required>
                <option disabled selected value="">--Pilih Kategori--</option>
                <option ng-repeat="category in categories" value="{{category.ID}}">{{category.NM_KATEGORI}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Type Barang</label>
              <select class="form-control select2" style="width: 100%;" ng-model="barangumum.typebarang"required>
                <option disabled selected value="">--Pilih Type--</option>
                <option ng-repeat="typebarang in typebarangs" value="{{typebarang.ID}}">{{typebarang.NM_TYPE}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Barang Unit</label>
              <select class="form-control select2" style="width: 100%;" ng-model="barangumum.unitbarang" required >
                <option disabled selected value="">--Pilih Unit Barang--</option>
                <option ng-repeat="unitbarang in unitbarangs" value="{{unitbarang.ID}}">{{unitbarang.NM_UNIT}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Gambar Barang</label>
              <input type="file" ng-model="barangumum.file" name="file" base-sixty-four-input required  maxsize="500" >
            </div>
            <div class="form-group">
              <div ng-show="barangumum.file">
                <img data-ng-src="data:image/jpeg;base64,{{barangumum.file.base64}}" width="60%" height="40%">
              </div>
           </div>

            <!-- phone mask -->
            <div class="form-group">
              <label>Quantity</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-minus"></i>
                </div>
                <input type="number" class="form-control" name="quantity" ng-model="barangumum.quantity" min=0 required>
                <div class="input-group-addon">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Tanggal Masuk</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-minus"></i>
                </div>
                <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <div class="input-group-addon">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a href="javascript::;" class="btn btn-sm btn-danger btn-flat pull-left">Cancel</a>
            <button type="submit" ng-disabled="barangumumForm.$invalid" class="btn btn-sm btn-success btn-flat pull-right">Submit</button>
          </div>
        </div>
      </form>
        <!-- /.box -->
      </div>
      <!-- /.col (left) -->
    </div>
  </section><!-- /.content -->
  
</div><!-- /.content-wrapper -->

<div ng-include="'angular/partial/foottemplate.html'"></div>