<li class="active treeview">
  <a href="javascript:;">
    <i class="fa fa-th"></i>
    <span>Product Master</span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#/erp/masterbarang/list/barangumum">
      <i class="fa fa-circle-o"></i>Barang Umum</a>
    </li>
    <li><a href="#/erp/masterbarang/list/kategori">
      <i class="fa fa-circle-o"></i> Kategori</a>
    </li>
    <li><a href="#/erp/masterbarang/list/tipebarang">
      <i class="fa fa-circle-o"></i> Tipe Barang</a>
    </li>
    <li><a href="#/erp/masterbarang/list/suplier">
      <i class="fa fa-circle-o"></i> Suplier</a></li>
    <li><a href="#/erp/masterbarang/list/barangunit">
      <i class="fa fa-circle-o"></i>Barang Unit</a>
    </li>
    <li><a href="#/erp/masterbarang/list/customer">
      <i class="fa fa-circle-o"></i>Customer</a>
    </li>
    <li><a href="#/erp/masterbarang/list/distributor">
      <i class="fa fa-circle-o"></i>Distributor</a>
    </li>
  </ul>
</li>
<li class="active treeview">
  <a href="javascript:;">
    <i class="fa fa-th"></i>
    <span>Chart Elements</span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#/erp/chart/esm/sales">
      <i class="fa fa-circle-o"></i>Chart Sales</a>
    </li>
    <li><a href="#/erp/chart/esm/warehouses">
      <i class="fa fa-circle-o"></i>Chart Warehouses</a>
    </li>
    <li><a href="#/erp/chart/hrm/personalia">
      <i class="fa fa-circle-o"></i>Chart Personalia</a>
    </li>
    <li><a href="#/erp/chart/hrm/employeturnover">
      <i class="fa fa-circle-o"></i>Chart Turn Over</a>
    </li>
  </ul>
</li>